{% extends "base" %}
{% from "macros/navigation.html" import go_back %}
{% block title %}
    Página Inicial
{% endblock title %}
{% block extra_head %}
    <noscript>{{ refresh_page(60) }}</noscript>
{% endblock extra_head %}
{% block content %}
    <h3>Consultar reservas</h3>
    <p>
        <strong>Dia:</strong> {{ dia|datahora }}
    </p>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Reservas do dia: {{ reserva_dia|data }}
                <hr>
                <form method="get"
                      class="form-inline"
                      action="{{ url_for('consultar_reservas.main_page') }}">
                    <div class="form-group">
                        <label for="reserva-dia">dia:</label>
                        <input type="date"
                               class="form-control"
                               value="{{ reserva_dia }}"
                               id="reserva-dia"
                               name="reserva-dia"
                               onchange="this.form.submit()">
                    </div>
                    <div class="form-group">
                        <label for="reserva_turno">Turno:</label>
                        <select class="form-control"
                                id="reserva_turno"
                                name="reserva_turno"
                                onchange="this.form.submit()">
                            <option value="">Selecionar o turno</option>
                            {% for turno in turnos %}
                                <option value="{{ turno.id_turno }}"
                                        {% if turno.id_turno == reserva_turno %}selected{% endif %}>
                                    {{ turno.nome_turno }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="reserva_turno">Destino:</label>
                        <select class="form-control"
                                id="reserva_tipo_horario"
                                name="reserva_tipo_horario"
                                onchange="this.form.submit()">
                            <option value="">Selecionar o destino</option>
                            {% for aula in tipo_aula %}
                                <option value="{{ aula.value }}"
                                        {% if aula.value == reserva_tipo_horario %}selected{% endif %}>
                                    {{ aula.value }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive"></div>
        </div>
    </div>
{% endblock content %}
{% block extra_script %}
    <script>{{ refresh_page_full_minute_script() }}</script>
{% endblock extra_script %}
{% block footer %}
    <p class="text-muted">
        <small>Esta página se atualiza automaticamente.</small>
    </p>
{% endblock footer %}
