{% extends "base-fluid" %}
{% from "macros/form.html" import action_buttons %}
{% block title %}
    Tela Televisor
{% endblock title %}
{% block navigation %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand"
                   title="ir a pagina inicial"
                   href="{{ url_for("default.home") }}">
                    Sistema RLF
                    {% if user and user.perm|has_flag(FIXA) %}
                        <i class="glyphicon glyphicon-calendar"
                           title="Permissão de Reserva Fixa"></i>
                    {% endif %}
                    {% if user and user.perm|has_flag(TEMP) %}
                        <i class="glyphicon glyphicon-time"
                           title="Permissão de Reserva Temporária"></i>
                    {% endif %}
                    {% if user and user.perm|has_flag(AUDITORIO) %}
                        <i class="glyphicon glyphicon-bullhorn"
                           title="Permissão de Reserva de Auditório"></i>
                    {% endif %}
                    {% if user and user.perm|has_flag(ADMIN) %}
                        <i class="glyphicon glyphicon-fire" title="Permissão de Administrador"></i>
                    {% endif %}
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-text navbar-date">
                    <span>{{ hoje|datainfo(DATA_COMPLETA+HORA+SEMANA_COMPLETA) }}</span>
                    <div class="circle-icon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
{% endblock navigation %}
{% block content %}
{% endblock content %}
{% block extra_css %}
    <style>
        .navbar {
            margin-bottom:0px;
        }
    </style>
{% endblock extra_css %}
{% block footer %}
    <div>
        <strong>Legenda dos ícones:</strong>
        <ul class="list-inline">
            <li>
                <span class="reserva-icon text-indefinido">
                    <i class="glyphicon glyphicon-user base-icon"></i>
                </span>
                — indefinido
            </li>
            <li>
                <span class="reserva-icon text-nao-pegou-chave">
                    <i class="glyphicon glyphicon-user base-icon"></i>
                    <i class="glyphicon glyphicon-remove icon-contrast overlay-icon"></i>
                </span>
                — não pegou a chave
            </li>
            <li>
                <span class="reserva-icon text-pegou-chave">
                    <i class="glyphicon glyphicon-user base-icon"></i>
                    <i class="glyphicon glyphicon-ok icon-contrast overlay-icon"></i>
                </span>
                — está em sala
            </li>
            <li>
                <span class="reserva-icon text-devolveu-chave">
                    <i class="glyphicon glyphicon-user base-icon"></i>
                    <i class="glyphicon glyphicon-log-out icon-contrast overlay-icon"></i>
                </span>
                — reserva efetuada
            </li>
        </ul>
    </div>
{% endblock footer %}
