<div id="modalDetalhes" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Detalhes</h4>
            </div>
            <div class="modal-body">
                <p>Detalhes da reserva:</p>
                <p>
                    <strong id="modalDLocal"></strong>
                    <br>
                    <strong id="modalDSemana"></strong>
                    <br>
                    <strong id="modalDSemestre"></strong>
                    <strong id="modalDPeriodo"></strong>
                    <br>
                    <strong id="modalDHorario"></strong>
                </p>
                <p>Observações referentes a reserva:</p>
                <p>
                    <strong id="modalDObservacao"></strong>
                </p>
            </div>
        </div>
    </div>
</div>
