<div id="modalEditar" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <form method="post" id="formEditar" action="">
                <div class="modal-header bg-warning">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Editar</h4>
                </div>
                <div class="modal-body">
                    <div id="modalEditarConteudo"></div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning">Editar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
                </div>
            </form>
        </div>
    </div>
</div>
