{% extends "usuario/reservas_base/reservas_bases.html" %}
{% block title %}
    Reservas de Auditorios
{% endblock title %}
{% block header %}
    Reservas de Auditorios
{% endblock header %}
{% block filtros %}
    <div class="row">
        <!-- FILTRO dia -->
        <div class="col-sm-4 col-md-2">
            <div class="form-group">
                <label>Dia:</label>
                <input type="date"
                       name="dia"
                       class="form-control input-sm"
                       value="{{ request.args.get('dia', '') }}"
                       onchange="this.form.submit()">
            </div>
        </div>
        <!-- FILTRO aud -->
        <div class="col-sm-4 col-md-2">
            <div class="form-group">
                <label>Auditorios</label>
                <select name="aud"
                        class="form-control input-sm"
                        onchange="this.form.submit()">
                    <option value="">Todos</option>
                    {% for aud in auditorios %}
                        <option value="{{ aud.id_local }}"
                                {% if request.args.get('aud')|int == aud.id_local %}selected{% endif %}>
                            {{ aud.nome_local }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <!-- FILTRO semanas-->
        <div class="col-sm-4 col-md-2">
            <div class="form-group">
                <label>dia da semana</label>
                <select name="semana"
                        class="form-control input-sm"
                        onchange="this.form.submit()">
                    <option value="">Todos</option>
                    {% for semana in semanas %}
                        <option value="{{ semana.id_semana }}"
                                {% if request.args.get('semana')|int == semana.id_semana %}selected{% endif %}>
                            {{ semana.nome_semana }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <!-- Autorizador -->
        <div class="col-sm-4 col-md-3">
            {{ select2_ajax_input('autorizador', 'autorizador', 'autorizador', optional=True, inner_input_class='input-sm', inner_extras='data-submit-on-change="true"') }}
        </div>
        <!-- status -->
        <div class="col-sm-4 col-md-3">
            <div class="form-group">
                <label>status</label>
                <select name="status"
                        class="form-control input-sm"
                        onchange="this.form.submit()">
                    <option value="">Todos</option>
                    {% for stat in status %}
                        <option value="{{ stat.value }}"
                                {% if request.args.get('status') == stat.value %}selected{% endif %}>
                            {{ stat.value }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    {% if user.perm|has_flag(ADMIN+AUTORIZAR) %}
        <div class="form-section">Filtros administrativos</div>
        <div class="row">
            <!-- RESPONSAVEL -->
            <div class="col-sm-4 col-md-3">
                {{ select2_ajax_input('responsavel', 'responsavel', 'responsavel', optional=True, inner_input_class='input-sm', inner_extras='data-submit-on-change="true"') }}
            </div>
        </div>
    {% endif %}
{% endblock filtros %}
{% block table %}
    {% if reservas_auditorios %}
        <div class="table-responsive">
            <table class="table table-striped table-condensed table-bordered table-hover">
                <thead>
                    <tr class="info">
                        {% if user and user.perm|has_flag(ADMIN+AUTORIZAR) %}<th>Resp</th>{% endif %}
                        <th>autorizador</th>
                        <th>local</th>
                        <th>Dia / Horário</th>
                        <th>Status</th>
                        <th class="col-action">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in reservas_auditorios %}
                        <tr class="linha-click"
                            data-info-url="{{ url_for('usuarios_reservas_base.get_info_reserva', tipo_reserva='auditorio', id_reserva=r.id_reserva_auditorio) }}">
                            {% if user and user.perm|has_flag(ADMIN+AUTORIZAR) %}
                                <td title="{{ get_nome_pessoa_by_id(r.id_responsavel, 'pessoa') }}">
                                    {{ get_nome_pessoa_by_id(r.id_responsavel, 'pessoa') |truncate(12) }}
                                </td>
                            {% endif %}
                            <td title="{{ get_nome_pessoa_by_id(r.id_autorizador, 'pessoa', false) |format }}">
                                {{ get_nome_pessoa_by_id(r.id_autorizador, 'pessoa', false) |format|truncate(12) }}
                            </td>
                            <td>{{ r.local.nome_local }}</td>
                            <td>
                                {{ r.dia_reserva|data }} ({{ r.aula_ativa.dia_da_semana.nome_semana }})
                                <br>
                                <small class="text-muted">
                                    {{ r.aula_ativa.aula.horario_inicio|hora }}
                                    –
                                    {{ r.aula_ativa.aula.horario_fim|hora }}
                                </small>
                            </td>
                            <td>
                                <span class="badge_status badge-{{ r.status_reserva.value }}">{{ r.status_reserva.value }}</span>
                            </td>
                            <!-- AÇÕES -->
                            {% set pode_editar = r.dentro_periodo or user.perm|has_flag(ADMIN+AUTORIZAR) %}
                            <td class="acoes">
                                <div class="btn-group">
                                    <button type="button"
                                            class="btn btn-default btn-xs dropdown-toggle"
                                            data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-cog"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a class="btn-detalhes" data-toggle="modal" data-target="#modalDetalhes">Detalhes</a>
                                        </li>
                                        <li class="{% if not pode_editar %}disabled{% endif %}">
                                            <a class="btn-editar">Editar</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li class="{% if not pode_editar %}disabled{% endif %}">
                                            <a class="btn-cancelar text-danger">Cancelar</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {{ render_pagination(pagination, 'usuarios_reservas_auditorios.gerenciar_reservas_auditorios', args_extras) }}
            {% include "usuario/modals_laboratorio/modal_global.html" %}
        </div>
    {% else %}
        <div class="alert alert-warning">Nenhuma reserva encontrada.</div>
    {% endif %}
{% endblock table %}
{% block script_reserva %}
    <script>
        {{ select2_ajax_script('autorizador', 'pessoas', value=request.args.get('autorizador'), field='id_pessoa') }}
    </script>
    {% if user and user.perm|has_flag(ADMIN) %}
        <script>
            {{ select2_ajax_script('responsavel', 'pessoas', value=request.args.get('responsavel'), field='id_pessoa') }}
        </script>
    {% endif %}
{% endblock script_reserva %}