FLASK_ENV = development
FLASK_DEBUG = True
SECRET_KEY = a cool secret key no one supposed to know
DB_HOST = host
DB_PORT = port
DB_USER = user
DB_PASSWORD = password
DB_DATABASE = database
SHOW_DEBUG_ERRORS = False
FIM_MANHA = HH:MM
FIM_TARDE = HH:MM
API_BASIC_USER=apiuser
API_BASIC_PASS=apipassphrase