# Ativa modo debug do Flask
FLASK_DEBUG=True

# Chave secreta para sessões
SECRET_KEY=a cool secret key no one is supposed to know

# Dados para conexão com o banco
DB_HOST=host
DB_PORT=port
DB_USER=user
DB_PASSWORD=password
DB_DATABASE=database

# Exibe mensagens de erro detalhadas no navegador
SHOW_DEBUG_ERRORS=False

# Horários de transição de turnos (exemplo: 12:00 ou 23:59)
FIM_MANHA=HH:MM
FIM_TARDE=HH:MM

# Dados de acesso da API externa (Basic Auth)
API_BASIC_USER=apiuser
API_BASIC_PASS=apipassphrase

# Cria as tabelas automaticamente ao rodar o app (usado para dev)
AUTO_CREATE_DB=True

# Número de registros por página na paginação
PER_PAGE=15