{% extends "base-fixed" %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}
    Reservas
{% endblock title %}
{% block extra_head %}
    {{ refresh_page(60) }}
{% endblock extra_head %}
{% block content %}
    <h3>Agora: {{ datetime|datahora }}</h3>
    <p>Escolha o tipo de reserva a qual voce deseja consultar</p>
    <div class="btn-group-vertical">
        <a href="{{ url_for('usuario.gerenciar_reserva_fixa') }}"
           class="btn btn-primary">Reserva Semestral</a>
        <a href="{{ url_for('usuario.gerenciar_reserva_temporaria') }}"
           class="btn btn-primary">Reserva Avulsa</a>
    </div>
{% endblock content %}
{% block footer %}
    <p class="text-muted">
        <small>Esta página se atualiza automaticamente a cada 60 segundos.</small>
    </p>
{% endblock footer %}
