{% extends "base-fixed" %}
{% block title %}
    Perfil
{% endblock title %}
{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <strong>Usuário</strong>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="id_usuario" class="col-sm-2 control-label">Código do Usuario:</label>
                    <div class="col-sm-10">
                        <input type="number"
                               class="form-control"
                               id="id_usuario"
                               value="{{ usuario.id_usuario }}"
                               disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="tipo_usuario" class="col-sm-2 control-label">Tipo de usuário:</label>
                    <div class="col-sm-10">
                        <input type="text"
                               maxlenght="50"
                               class="form-control"
                               id="tipo_usuario"
                               value="{{ usuario.tipo_pessoa }}"
                               disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="situacao_pessoa" class="col-sm-2 control-label">Situação:</label>
                    <div class="col-sm-10">
                        <input type="text"
                               maxlenght="50"
                               class="form-control"
                               id="situacao_pessoa"
                               value="{{ usuario.situacao_pessoa }}"
                               disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="grupo_pessoa" class="col-sm-2 control-label">Grupo:</label>
                    <div class="col-sm-10">
                        <input type="text"
                               maxlenght="50"
                               class="form-control"
                               id="grupo_pessoa"
                               value="{{ usuario.grupo_pessoa }}"
                               disabled>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <strong>Informações Pessoais</strong>
        </div>
        <div class="panel-body text-left">
            <div class="row">
                <div class="col-sm-6">
                    <label for="codigo_pessoa">Código da Pessoa:</label>
                    <input type="number"
                           id="codigo_pessoa"
                           class="form-control"
                           value="{{ usuario.pessoas.id_pessoa }}"
                           disabled>
                </div>
                <div class="col-sm-6">
                    <label for="nome">Nome:</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input type="text"
                               maxlenght="100"
                               id="nome"
                               class="form-control"
                               value="{{ usuario.pessoas.nome_pessoa }}"
                               disabled>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <label for="email">E-Mail:</label>
                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input type="email"
                               id="email"
                               class="form-control"
                               value="{{ usuario.pessoas.email_pessoa }}"
                               disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
