{% extends "base-fixed" %}
{% from "macros/pagination.html" import render_pagination %}
{% from "macros/navigation.html" import go_back %}
{% block title %}
    Reservas Semestrais (fixas)
{% endblock title %}
{#
{% block extra_head %}
    <noscript>{{ refresh_page(60) }}</noscript>
{% endblock extra_head %}
#}
{% block content %}
    <div class="btn-group">
        <a href="{{ url_for('default.home') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-home"></span> Início
        </a>
        <a href="{{ url_for('usuario.menu_reservas_usuario') }}"
           class="btn btn-primary">
            <span class="glyphicon glyphicon-list"></span> Menu
        </a>
    </div>
    <h3>Agora: {{ datetime|datahora }}</h3>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">
                Reservas Semanais:
                <hr>
                <form method="get"
                      class="form-inline"
                      action="{{ url_for('usuario.gerenciar_reserva_fixa') }}">
                    <div class="form-group">
                        <label for="semestre">Semestre:</label>
                        <select name="semestre"
                                id="semestre"
                                class="form-control"
                                onchange="if (this.checkValidity()) this.form.submit();">
                            <option value="">selecione o semestre</option>
                            {% for s in semestres %}
                                <option value="{{ s.id_semestre }}"
                                        {% if s.id_semestre == semestre_selecionado %}selected{% endif %}>
                                    {{ s.nome_semestre }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    {% if perm|has_flag(ADMIN) %}
                        <div class="form-group">
                            <label for="all">Todos usuarios</label>
                            <input type="checkbox"
                                   id="all"
                                   name="all"
                                   class="form-control"
                                   title="Mostrar reservas de todos os usuários"
                                   {% if all %}checked{% endif %}
                                   onchange="if (this.checkValidity()) this.form.submit();">
                        </div>
                    {% endif %}
                </form>
            </h3>
        </div>
        <div class="panel-body">
            {% if reservas_fixas %}
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr class="information">
                                {% if all %}<th>Responsavel</th>{% endif %}
                                <th>Laboratório</th>
                                <th>Semestre</th>
                                <th>Semana</th>
                                <th>Horário</th>
                                <th>Tipo</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for r in reservas_fixas %}
                                <tr>
                                    {% if all %}<td>{{ get_responsavel_reserva(r) }}</td>{% endif %}
                                    <td>{{ r.locais.nome_local }}</td>
                                    <td>{{ r.semestres.nome_semestre }}</td>
                                    <td>{{ r.aulas_ativas.dia_da_semana.nome_semana }}</td>
                                    <td>{{ r.aulas_ativas.aulas.horario_inicio|hora }} às {{ r.aulas_ativas.aulas.horario_fim|hora }}</td>
                                    <td>{{ r.finalidade_reserva.value }}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a href="#modalCancelar"
                                               data-toggle="modal"
                                               data-info-url="{{ url_for('usuario.get_info_reserva', tipo_reserva='fixa', id_reserva=r.id_reserva_fixa) }}"
                                               class="btn btn-danger btn-xs btn-cancelar">
                                                <span class="glyphicon glyphicon-trash"></span> Cancelar
                                            </a>
                                            <a href="#modalEditar"
                                               data-toggle="modal"
                                               data-info-url="{{ url_for('usuario.get_info_reserva', tipo_reserva='fixa', id_reserva=r.id_reserva_fixa) }}"
                                               class="btn btn-warning btn-xs btn-editar">
                                                <span class="glyphicon glyphicon-pencil"></span> Editar
                                            </a>
                                            <a href="#modalDetalhes"
                                               data-toggle="modal"
                                               data-info-url="{{ url_for('usuario.get_info_reserva', tipo_reserva='fixa', id_reserva=r.id_reserva_fixa) }}"
                                               class="btn btn-info btn-xs btn-detalhes">
                                                <span class="glyphicon glyphicon-search"></span> Detalhes
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {{ render_pagination(pagination, 'usuario.gerenciar_reserva_fixa', args_extras) }}
                {# Modal único #}
                {% include "usuario/modal_cancelar.html" %}
                {% include "usuario/modal_editar.html" %}
                {% include "usuario/modal_detalhes.html" %}
            {% else %}
                <div class="alert alert-warning" role="alert">Nenhuma reserva no semestre selecionado</div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
{% block extra_script %}
    <script>{{ refresh_page_full_minute_script() }}</script>
    <script>
        $(document).on('click', '.btn-cancelar', function () {
            var infoUrl = $(this).data('info-url');

            $.getJSON(infoUrl, function (data) {
                $('#modalCLocal').text(data.local);
                $('#modalCSemana').text(data.semana);
                $('#modalCSemestre').text(data.semestre);
                $('#modalCHorario').text(data.horario);
                $('#formCancelar').attr('action', data.cancel_url);
            });
        });
        $(document).on('click', '.btn-editar', function () {
            var infoUrl = $(this).data('info-url');

            $.getJSON(infoUrl, function (data) {
                $('#modalELocal').text(data.local);
                $('#modalESemana').text(data.semana);
                $('#modalESemestre').text(data.semestre);
                $('#modalEHorario').text(data.horario);
                $('#modalEObservacao').val(data.observacao);
                $('#modalETipoReserva').val(data.finalidadereserva);
                $('#formEditar').attr('action', data.editar_url);
                {% if perm and perm|has_flag(ADMIN) %}
                    $('#modalEResponsavel').val(data.responsavel);
                    $('#modalEResponsavelEspecial').val(data.responsavel_especial);
                {% endif %}
            });
        });
        $(document).on('click', '.btn-detalhes', function () {
            var infoUrl = $(this).data('info-url');

            $.getJSON(infoUrl, function (data) {
                $('#modalDLocal').text(data.local);
                $('#modalDSemana').text(data.semana);
                $('#modalDSemestre').text(data.semestre);
                $('#modalDHorario').text(data.horario);
                if(data.observacao)
                    $('#modalDObservacao').text(data.observacao);
                else
                    $('#modalDObservacao').text("sem observações")
            });
        });
    </script>
{% endblock extra_script %}
{% block footer %}
    <p class="text-muted">
        <small>Esta página se atualiza automaticamente.</small>
    </p>
{% endblock footer %}
