{% extends "base-fixed" %}
{% from "macros/form.html" import action_buttons %}
{% from "macros/navigation.html" import go_back %}
{% block title %}
    dias
{% endblock title %}
{% block content %}
    <div class="btn-group">
        {{ go_back() }}
        <a href="{{ url_for('default.home') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-home"></span> Início
        </a>
    </div>
    <h3>
        <strong>Reserva Avulsa</strong> dia: {{ day|data }}
        <br>
        <strong>Faixa de dias selecionado:</strong> {{ inicio|data }} - {{ fim|data }}
    </h3>
    <p>Escolha os turnos e objetivo da reserva avulsa (temporaria)</p>
    <form method="get"
          action="{{ url_for('reservas_temporarias.get_lab', inicio=inicio, fim=fim) }}"
          class="d-flex align-items-center mb-2">
        <div class="me-3">
            <strong>geral</strong>
            (das 0:00 às 23:59)
        </div>
        <div class="btn-group" role="group">
            {% for ta in tipo_aula %}
                <button type="submit"
                        name="tipo"
                        value="{{ ta.value }}"
                        class="btn btn-primary btn-sm">{{ ta.value }}</button>
            {% endfor %}
        </div>
    </form>
    {% for turno in turnos %}
        <form method="get"
              action="{{ url_for('reservas_temporarias.get_lab', inicio=inicio, fim=fim, id_turno=turno.id_turno) }}"
              class="d-flex align-items-center mb-2">
            <div class="me-3">
                <strong>{{ turno.nome_turno }}</strong>
                (das {{ turno.horario_inicio|hora }} às {{ turno.horario_fim|hora }})
            </div>
            <div class="btn-group" role="group">
                {% for ta in tipo_aula %}
                    <button type="submit"
                            name="tipo"
                            value="{{ ta.value }}"
                            class="btn btn-primary btn-sm">{{ ta.value }}</button>
                {% endfor %}
            </div>
        </form>
    {% endfor %}
{% endblock content %}
