{% extends "base-fixed" %}
{% from "macros/form.html" import action_buttons %}
{% from "macros/navigation.html" import go_back %}
{% block title %}
    efetuar reserva
{% endblock title %}
{% block content %}
    {{ generate_reserva_head('temporaria', turno, inicio=inicio, fim=fim) }}
    <div class="btn-group">
        {{ go_back(contador) }}
        <a href="{{ url_for('default.home') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-home"></span> Início
        </a>
    </div>
    <h3>
        <strong>Reserva Avulsa</strong>: {{ inicio|data }} - {{ fim|data }} — <strong>Turno:</strong>  {{ turno.nome_turno if turno else 'Livre' }}
    </h3>
    <p>
        <strong>Período:</strong> {{ inicio|data }} a {{ fim|data }}
        {% if turno %}
            <br>
            <strong>Horário:</strong> {{ turno.horario_inicio|hora }} às {{ turno.horario_fim|hora }}
        {% else %}
            <br>
            <strong>Horário:</strong> 00:00 às 23:59
        {% endif %}
        <br>
        <strong>Locais disponiveis:</strong> {{ locais|length }}
        <br>
        <strong>Horarios disponiveis:</strong> {{ aulas|length }}
    </p>
    <form class="form-group"
          role="form"
          action="{{ url_for('reservas_temporarias.efetuar_reserva', inicio=inicio, fim=fim) }}"
          id="reserva"
          method="post">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover tabela-reserva">
                <thead>
                    <tr>
                        <th rowspan="{{ 2 if turno else 3 }}" class="col-fixa">Locais</th>
                        {% for dia, qt in contagem_dias.items() %}<th colspan="{{ qt }}">{{ dia[0]|data }} ({{ dia[1] }})</th>{% endfor %}
                    </tr>
                    {% if not turno %}
                        <tr>
                            {% for turno, qt in contagem_turnos.items() %}<th colspan="{{ qt }}">{{ turno[1].nome_turno }}</th>{% endfor %}
                        </tr>
                    {% endif %}
                    <tr>
                        {% for aula in aulas %}<th>{{ aula.horario_inicio }} - {{ aula.horario_fim }}</th>{% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for local in locais %}
                        <tr>
                            <td class="col-fixa {% if local.disponibilidade.value == 'Indisponivel' %}text-danger{% endif %}"
                                title="{{ local.descrição }}">{{ local.nome_local }}</td>
                            {% for info in aulas %}
                                {% set reservado = helper[(local.id_local, info.id_aula_ativa, info.dia_consulta)] %}
                                {% if reservado %}
                                    <td class="reservado" title="{{ reservado }}">
                                        <span class="sr-only">Reservado</span>
                                        <input type="checkbox"
                                               class="form-check-input checkbox-danger"
                                               title="{{ reservado }}"
                                               name="reserva[{{ local.id_local }},{{ info.id_aula_ativa }},{{ info.dia_consulta }}]"
                                               disabled>
                                    </td>
                                {% else %}
                                    <td>
                                        <input type="checkbox"
                                               class="form-check-input"
                                               name="reserva[{{ local.id_local }},{{ info.id_aula_ativa }},{{ info.dia_consulta }}]">
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <label for="finalidade_reserva">Destinação da Reserva:</label>
            <select id="finalidade_reserva"
                    class="form-control"
                    name="finalidade_reserva"
                    required>
                <option value="">Selecione a finalidade da reserva</option>
                {% for fr in finalidade_reserva %}<option value="{{ fr.value }}">{{ fr.value }}</option>{% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="observacoes">Observações:</label>
            <input type="text"
                   id="observacoes"
                   name="observacoes"
                   class="form-control"
                   placeholder="insira observações relevantes (softwares necessarios)">
        </div>
        <div class="form-group">
            <label for="descricao">Descrição:</label>
            <input type="text"
                   id="descricao"
                   name="descricao"
                   class="form-control"
                   placeholder="insira a descrição da reserva">
        </div>
        {% if perm and perm|has_flag(ADMIN) %}
            <div class="form-group">
                <label for="responsavel">Responsavel:</label>
                <select id="responsavel" name="responsavel" class="form-control">
                    <option value="">Selecione o responsavel pela reserva</option>
                    {% for r in responsavel %}
                        <option value="{{ r.id_pessoa }}">({{ r.id_pessoa }}) {{ r.nome_pessoa }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="responsavel_especial">Responsavel especial:</label>
                <select id="responsavel_especial"
                        name="responsavel_especial"
                        class="form-control">
                    <option value="">Selecione o responsavel especial pela reserva</option>
                    {% for r in responsavel_especial %}
                        <option value="{{ r.id_usuario_especial }}">({{ r.id_usuario_especial }}) {{ r.nome_usuario_especial }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
        {{ action_buttons('inserir', show_voltar=False, label='') }}
    </form>
{% endblock content %}
{% block extra_script %}
    {% if perm and perm|has_flag(ADMIN) %}
        <script>{{ validate_admin_selects() }};</script>
        <script>validateAdminSelects("reserva", "responsavel", "responsavel_especial");</script>
    {% endif %}
    <script>{{ adjust_head_fix() }}</script>
    <script>
    document.getElementById('finalidade_reserva').addEventListener('change', function() {
        var value = this.value;
        var descricao = document.getElementById('descricao');
        var descricaoWrapper = descricao.parentElement;

        if(value == 'Curso'){
            descricao.disabled = false;
            descricaoWrapper.style.display = 'block';
        } else {
            descricao.disabled = true;
            descricaoWrapper.style.display = 'none';
        }
    });

    window.addEventListener('load', function() {
        document.getElementById('finalidade_reserva').dispatchEvent(new Event('change'));
    });
    </script>
{% endblock extra_script %}
