<div class="modal fade"
     id="infoReservaFixaModal"
     tabindex="-1"
     role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
                <h4 class="modal-title">Informações da Reserva Fixa</h4>
            </div>
            <div class="modal-body">
                <ul class="list-unstyled">
                    <li>
                        <strong>ID:</strong> <span id="info-id"></span>
                    </li>
                    <li>
                        <strong>Responsável:</strong> <span id="info-responsavel"></span>
                    </li>
                    <li>
                        <strong>Horário:</strong> <span id="info-horario"></span>
                    </li>
                    <li>
                        <strong>Local:</strong> <span id="info-local"></span>
                    </li>
                    <li>
                        <strong>Semestre:</strong> <span id="info-semestre"></span>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>