{% extends "base" %}
{% from "macros/form.html" import action_buttons %}
{% from "macros/navigation.html" import go_back %}
{% block title %}
    turnos
{% endblock title %}
{% block content %}
    <div class="btn-group">
        {{ go_back() }}
        <a href="{{ url_for('default.home') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-home"></span> Início
        </a>
    </div>
    <h3>Reserva Avulsa</h3>
    <p>
        <strong>Laboratorios disponiveis:</strong> {{ laboratorios|length }}
        <br>
        <strong>Horarios disponiveis:</strong> {{ aulas|length }}
    </p>
    <form class="form-group"
          role="form"
          action="{{ url_for('reservas_fixas.efetuar_reserva') }}"
          id="reserva"
          method="post">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover tabela-reserva">
                <thead>
                    <tr class="information">
                        <th rowspan="3" class="col-fixa">Laboratorios</th>
                        {% for dia, semana, qt in head1 %}<th colspan="{{ qt }}">{{ dia|data }} - {{ semana }}</th>{% endfor %}
                    </tr>
                    <tr class="information">
                        {% for turno, qt in head2 %}<th colspan="{{ qt }}">{{ turno }}</th>{% endfor %}
                    </tr>
                    <tr class="information">
                        {% for inicio, fim in head3 %}<th>{{ inicio|hora }} - {{ fim|hora }}</th>{% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for laboratorio in laboratorios %}
                        <tr>
                            <td class="col-fixa">{{ laboratorio.nome_laboratorio }}</td>
                            {% for info in aulas %}
                                {% set reservado = helper[(laboratorio.id_laboratorio, info.id_aula_ativa, info.dia_consulta)] %}
                                {% if reservado %}
                                    <td class="reservado" title="{{ reservado }}">
                                        <span class="sr-only">Reservado</span>
                                        <input type="checkbox"
                                               class="form-check-input checkbox-danger"
                                               title="{{ reservado }}"
                                               name="reserva[{{ laboratorio.id_laboratorio }},{{ info.id_aula_ativa }},{{ info.dia_consulta }}]"
                                               disabled>
                                    </td>
                                {% else %}
                                    <td>
                                        <input type="checkbox"
                                               class="form-check-input"
                                               name="reserva[{{ laboratorio.id_laboratorio }},{{ info.id_aula_ativa }},{{ info.dia_consulta }}]">
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <label for="tipo_reserva">Destinação da Reserva:</label>
            <select id="tipo_reserva" class="form-control" name="tipo_reserva" required>
                <option value="">Selecione o tipo de reserva</option>
                {% for tr in tipo_reserva %}<option value="{{ tr.value }}">{{ tr.value }}</option>{% endfor %}
            </select>
        </div>
        {% if perm and perm|has_flag(ADMIN) %}
            <div class="form-group">
                <label for="responsavel">Responsavel:</label>
                <select id="responsavel" name="responsavel" class="form-control">
                    <option value="">Selecione o responsavel pela reserva</option>
                    {% for r in responsavel %}
                        <option value="{{ r.id_pessoa }}">({{ r.id_pessoa }}) {{ r.nome_pessoa }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="responsavel_especial">Responsavel especial:</label>
                <select id="responsavel_especial"
                        name="responsavel_especial"
                        class="form-control">
                    <option value="">Selecione o responsavel especial pela reserva</option>
                    {% for r in responsavel_especial %}
                        <option value="{{ r.id_usuario_especial }}">({{ r.id_usuario_especial }}) {{ r.nome_usuario_especial }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
        {{ action_buttons('inserir', show_voltar=False, label='') }}
    </form>
{% endblock content %}
{% block extra_script %}
    {% if perm and perm|has_flag(ADMIN) %}
        <script>{{ validate_admin_selects() }}</script>
        <script>validateAdminSelects("reserva", "responsavel", "responsavel_especial");</script>
    {% endif %}
{% endblock extra_script %}