{% extends "base" %}
{% from "macros/form.html" import action_buttons %}
{% from "macros/navigation.html" import go_back %}
{% block title %}
    turnos
{% endblock title %}
{% block content %}
    <div class="btn-group">
        {{ go_back() }}
        <a href="{{ url_for('default.home') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-home"></span> Início
        </a>
    </div>
    <h3>Reserva Esporádica</h3>
    <p>
        <strong>Laboratorios disponiveis:</strong> {{ laboratorios|length }}
        <br>
        <strong>Horarios disponiveis:</strong> {{ aulas|length }}
    </p>
    <form class="form-group" role="form" method="post">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover tabela-reserva">
                <thead>
                    <tr class="information">
                        <th rowspan="3" class="col-fixa">Laboratorios</th>
                        {% for dia, semana, qt in head1 %}<th colspan="{{ qt }}">{{ dia|data }} - {{ semana }}</th>{% endfor %}
                    </tr>
                    <tr class="information">
                        {% for turno, qt in head2 %}<th colspan="{{ qt }}">{{ turno }}</th>{% endfor %}
                    </tr>
                    <tr class="information">
                        {% for inicio, fim in head3 %}<th>{{ inicio|hora }} - {{ fim|hora }}</th>{% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for laboratorio in laboratorios %}
                        <tr>
                            <td class="col-fixa">{{ laboratorio.nome_laboratorio }}</td>
                            {% for info in aulas %}
                                <td>
                                    <input type="checkbox"
                                           name="reserva[{{ laboratorio.id_laboratorio }},{{ info.id_aula_ativa }},{{ info.dia_consulta }}]">
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {{ action_buttons('inserir', show_voltar=False, label='') }}
    </form>
{% endblock content %}
{#
    {'id_aula_ativa': 28,
    'id_aula': 4,
    'inicio_ativacao': None,
    'fim_ativacao': None,
    'id_semana': 7,
    'tipo_aula': <TipoAulaEnum.AULA : 'Aula'>,
    'id_aula_1': 4,
    'horario_inicio': datetime.time(11, 10),
    'horario_fim': datetime.time(12, 0),
    'id_semana_1': 7,
    'nome_semana': 'sabado',
    'dia_consulta': '2025-07-06',
    'turno_consulta': 'manha'}
#}
