{% extends "base" %}
{% from "macros/form.html" import action_buttons %}
{% block title %}
    turnos
{% endblock title %}
{% block content %}
    <form class="form-group" role="form" method="post">
    </form>
{% endblock content %}
{# 
    {'id_aula_ativa': 28,
    'id_aula': 4,
    'inicio_ativacao': None,
    'fim_ativacao': None,
    'id_semana': 7,
    'tipo_aula': <TipoAulaEnum.AULA : 'Aula'>,
    'id_aula_1': 4,
    'horario_inicio': datetime.time(11, 10),
    'horario_fim': datetime.time(12, 0),
    'id_semana_1': 7,
    'nome_semana': 'sabado',
    'dia_consulta': '2025-07-06',
    'turno_consulta': 'manha'}
#}
