{% macro generate_navigation(admin=True) %}
<div class="form-group btn-group">

  <a href="{{ url_for('home') }}" class="btn btn-primary btn-lg">
    <span class="glyphicon glyphicon-home"></span> Página Inicial
  </a>

  {% if admin %}
  <a href="{{ url_for('gerenciar_menu') }}" class="btn btn-warning btn-lg">
    <span class="glyphicon glyphicon-cog"></span> Painel Admin
  </a>
  {% endif %}

</div>
{% endmacro %}

{% macro gerar_select(id, label, table, table_id, table_label, optional=False, placeholder='Selecione uma opção...') %}
<div class="form-group">
  <label for="{{ id }}">{{ label }}</label>
  <div class="input-group">
    <select class="form-control text-center" id="{{ id }}" name="{{ table_id }}" {% if not optional %}required{% endif
      %}>
      <option value="" {% if not optional %}disabled selected hidden{% endif %}>{{ placeholder }}</option>
      {% for t in table %}
      <option value="{{ t[table_id] }}">{{ t[table_label] }}</option>
      {% endfor %}
    </select>
  </div>
</div>
{% endmacro %}

{% macro action_buttons(acao='salvar', bloco_submit='1', show_voltar=True, bloco_voltar='0', show_reset=True) %}
<div class="form-group btn-group text-center mt-3">
  {% if show_voltar %}
  <button type="submit" name="bloco" value="{{ bloco_voltar }}" formnovalidate class="btn btn-default">
    <i class="glyphicon glyphicon-arrow-left"></i> Voltar
  </button>
  {% endif %}

  {% if show_reset %}
  <button type="reset" class="btn btn-warning">
    <i class="glyphicon glyphicon-refresh"></i> Limpar
  </button>
  {% endif %}

  <button type="submit" name="bloco" value="{{ bloco_submit }}"
    class="btn btn-{{ 'primary' if acao != 'excluir' else 'danger' }}">
    {% if acao == 'salvar' %}
    <i class="glyphicon glyphicon-floppy-disk"></i> Salvar
    {% elif acao == 'inserir' %}
    <i class="glyphicon glyphicon-plus"></i> Inserir
    {% elif acao == 'editar' %}
    <i class="glyphicon glyphicon-pencil"></i> Editar
    {% elif acao == 'excluir' %}
    <i class="glyphicon glyphicon-trash"></i> Excluir
    {% elif acao == 'procurar' %}
    <i class="glyphicon glyphicon-search"></i> Procurar
    {% else %}
    <i class="glyphicon glyphicon-ok"></i> {{ acao|capitalize }}
    {% endif %}
  </button>
</div>
{% endmacro %}