{% extends "database/base_crude" %}
{% block title %}
    Aulas Ativas
{% endblock title %}
{% block content_head %}
    {{ generate_head(url_for("aulas_ativas.gerenciar_aulas_ativas") , acao) }}
{% endblock content_head %}
{% block abertura %}
    <h3>
        Gerenciamento da Tabela <strong>Aulas Ativas</strong>
    </h3>
    <p>
        A tabela <code>aulas_ativas</code> possui os seguintes campos:
    </p>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="information">
                    <th>Campo</th>
                    <th>Tipo</th>
                    <th>Descrição</th>
                    <th>Valores Possíveis</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>id_aula_ativa</td>
                    <td>INT (auto_increment, PK)</td>
                    <td>Identificador único da aula ativa no sistema</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>id_aula</td>
                    <td>INT (FK)</td>
                    <td>Chave estrangeira para o registro de aulas</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>inicio_ativacao</td>
                    <td>DATE</td>
                    <td>Data de início do período de ativação da aula</td>
                    <td>Formato: dd/mm/aaaa</td>
                </tr>
                <tr>
                    <td>fim_ativacao</td>
                    <td>DATE</td>
                    <td>Data de término do período de ativação da aula</td>
                    <td>Formato: dd/mm/aaaa</td>
                </tr>
                <tr>
                    <td>id_semana</td>
                    <td>INT (FK)</td>
                    <td>Chave estrangeira para o dia da semana</td>
                    <td>1 a 7 (Domingo a Sábado)</td>
                </tr>
                <tr>
                    <td>id_turno</td>
                    <td>INT (FK)</td>
                    <td>Chave estrangeira para o turno associado à aula</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>tipo_aula</td>
                    <td>ENUM('AULA','EVENTO','OUTROS')</td>
                    <td>Categoria da aula ou evento</td>
                    <td>
                        <ul class="valores_possiveis_format">
                            <li>
                                <code>AULA</code> – Aula regular
                            </li>
                            <li>
                                <code>EVENTO</code> – Evento especial (palestras, workshops)
                            </li>
                            <li>
                                <code>OUTROS</code> – Casos diversos
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock abertura %}
{% block listar %}
    <h3>Lista de Aulas Ativas</h3>
    {% if aulas_ativas %}
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>id_aula_ativa</th>
                        <th>id_aula</th>
                        <th>inicio_ativacao</th>
                        <th>fim_ativacao</th>
                        <th>id_semana</th>
                        <th>id_turno</th>
                        <th>tipo_aula</th>
                    </tr>
                </thead>
                <tbody>
                    {% for at in aulas_ativas %}
                        <tr>
                            <td>{{ at.id_aula_ativa }}</td>
                            <td>{{ at.aulas.horario_intervalo }}</td>
                            <td>{{ at.inicio_ativacao if at.inicio_ativacao else '-' }}</td>
                            <td>{{ at.fim_ativacao if at.fim_ativacao else '-' }}</td>
                            <td>{{ at.dia_da_semana.nome }}</td>
                            <td>{{ at.turno_info.nome }}</td>
                            <td>{{ at.tipo_aula.value }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="alert alert-info" role="alert">Nenhuma aula ativa cadastrada.</div>
    {% endif %}
{% endblock listar %}
{% block procurar %}
    buff kanna
{% endblock procurar %}
{% block inserir %}
    <h3>Inserir Aulas Ativas</h3>
    <form class="form-group"
          role="form"
          action="{{ url_for('aulas_ativas.gerenciar_aulas_ativas') }}"
          method="post">
        <input type="hidden" name="acao" value="{{ acao }}">
        {{ gerar_select("id_aula", "Selecione a aula", aulas, "id_aula", "horario_intervalo") }}
        <div class="form-group">
            <label for="ia">Início da ativação:</label>
            <input id="ia"
                   name="inicio_ativacao"
                   class="form-control"
                   type="date"
                   placeholder="início do periodo em que a aula é valida, caso seja temporaria">
        </div>
        <div class="form-group">
            <label for="fa">Término da ativação:</label>
            <input id="fa"
                   name="fim_ativacao"
                   class="form-control"
                   type="date"
                   placeholder="término do periodo em que a aula é valida, caso seja temporaria">
        </div>
        {{ gerar_select("id_semana", "Selecione o dia da semana", dias_da_semana, "id", "nome", "id_semana") }}
        {{ gerar_select("id_turno", "Selecione o turno", turnos, "id", "nome", "id_turno") }}
        <div class="form-group">
            <label for="tipo">Tipo:</label>
            <select class="form-control" id="tipo" name="tipo_aula" required>
                <option value="">Selecione...</option>
                <option value="Aula">Aula</option>
                <option value="Evento">Evento</option>
                <option value="Outros">Outros</option>
            </select>
        </div>
        {{ action_buttons(acao, 1, False, 0) }}
    </form>
{% endblock inserir %}
