{% extends "base" %}
{% from "macros/form.html" import generate_navigation %}
{% block title %}
    Banco de Dados
{% endblock title %}
{% block content %}
    {{ generate_navigation() }}
    <h1>banco de dados:</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr class="information">
                    <th>tabela</th>
                    <th>go</th>
                </tr>
            </thead>
            <tbody>
                {% for table in tables %}
                    <tr class="{{ loop.cycle('linha-1-3', 'linha-2-3', 'linha-3-3') }}">
                        <td>{{ table }}</td>
                        <td>
                            {% if loop.first %}<strong>{% endif %}
                                <a href="#a{{ loop.index0 }}">tabela {{ loop.index }}/{{ loop.length }}</a>
                                {% if loop.first %}</strong>{% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% for table in tables %}
        <h2>
            <a id="a{{ loop.index0 }}">Tabela: {{ table }}</a>
        </h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="btn-group">
                    <button class="btn btn-info"
                            data-toggle="collapse"
                            data-target="#pk{{ loop.index0 }}">PK</button>
                    <button class="btn btn-{{ classification(columns[table]) }}"
                            data-toggle="collapse"
                            data-target="#campos{{ loop.index0 }}">Campos ({{ columns[table]|length }})</button>
                    <button class="btn btn-{{ classification(fks[table]) }}"
                            data-toggle="collapse"
                            data-target="#fk{{ loop.index0 }}">FK ({{ fks[table]|length }})</button>
                    <button class="btn btn-{{ classification(uks[table]) }}"
                            data-toggle="collapse"
                            data-target="#uk{{ loop.index0 }}">UK ({{ uks[table]|length }})</button>
                    <button class="btn btn-{{ classification(chks[table]) }}"
                            data-toggle="collapse"
                            data-target="#chk{{ loop.index0 }}">CHK ({{ chks[table]|length }})</button>
                    <button class="btn btn-{{ classification(inds[table]) }}"
                            data-toggle="collapse"
                            data-target="#ind{{ loop.index0 }}">Índice ({{ inds[table]|length }})</button>
                    <button id="toggleAll{{ loop.index0 }}"
                            class="btn btn-primary"
                            data-toggle="collapse"
                            data-target="#pk{{ loop.index0 }},#campos{{ loop.index0 }},#fk{{ loop.index0 }},#uk{{ loop.index0 }},#chk{{ loop.index0 }},#ind{{ loop.index0 }}">
                        Expandir Tudo
                    </button>
                </div>
            </div>
            <div class="panel-body">
                <div id="pk{{ loop.index0 }}" class="table-responsive collapse">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr class="information">
                                <th>Campo</th>
                                <th>nome</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ ';'.join(pks[table]['constrained_columns']) }}</td>
                                <td>{{ format(pks[table]['name']) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="campos{{ loop.index0 }}" class="table-responsive collapse">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr class="information">
                                <th>Nome</th>
                                <th>Tipo</th>
                                <th>Valor padrão</th>
                                <th>Comentario</th>
                                <th>Pode ser null</th>
                                <th>Auto incremento</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for column in columns[table] %}
                                <tr>
                                    <td>{{ column['name'] }}</td>
                                    <td>{{ column['type'] }}</td>
                                    <td>{{ format(column['default']) }}</td>
                                    <td>{{ format(column['comment']) }}</td>
                                    <td>{{ column['nullable'] }}</td>
                                    <td>{{ column['autoincrement'] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if fks[table] %}
                    <div id="fk{{ loop.index0 }}" class="table-responsive collapse">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr class="information">
                                    <th>Nome</th>
                                    <th>Campo</th>
                                    <th>Esquema referido</th>
                                    <th>Tabela referida</th>
                                    <th>Campo referido</th>
                                    <th>opções</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for fk in fks[table] %}
                                    <tr>
                                        <td>{{ fk['name'] }}</td>
                                        <td>{{ ';'.join(fk['constrained_columns']) }}</td>
                                        <td>{{ format(fk['referred_schema']) }}</td>
                                        <td>{{ fk['referred_table'] }}</td>
                                        <td>{{ ';'.join(fk['referred_columns']) }}</td>
                                        <td>{{ format(fk['options']) }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div id="fk{{ loop.index0 }}" class="panel panel-info collapse">
                        <div class="panel-body">Não Possui Chave Estrangeira</div>
                    </div>
                {% endif %}
                {% if uks[table] %}
                    <div id="uk{{ loop.index0 }}" class="table-responsive collapse">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr class="information">
                                    <th>Nome</th>
                                    <th>Nome do Campo</th>
                                    <th>Índice Duplicado</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for uk in uks[table] %}
                                    <tr>
                                        <td>{{ uk['name'] }}</td>
                                        <td>{{ ';'.join(uk['column_names']) }}</td>
                                        <td>{{ uk['duplicates_index'] }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div id="uk{{ loop.index0 }}" class="panel panel-info collapse">
                        <div class="panel-body">Não Possui Unique keys</div>
                    </div>
                {% endif %}
                {% if chks[table] %}
                    <div id="chk{{ loop.index0 }}" class="table-responsive collapse">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr class="information">
                                    <th>Nome</th>
                                    <th>Expressão SQL</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for chk in chks[table] %}
                                    <tr>
                                        <td>{{ chk['name'] }}</td>
                                        <td>{{ chk['sqltext'] }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div id="chk{{ loop.index0 }}" class="panel panel-info collapse">
                        <div class="panel-body">Não Possui Checks</div>
                    </div>
                {% endif %}
                {% if inds[table] %}
                    <div id="ind{{ loop.index0 }}" class="table-responsive collapse">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr class="information">
                                    <th>Nome</th>
                                    <th>Nome do Campo</th>
                                    <th>Unico?</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ind in inds[table] %}
                                    <tr>
                                        <td>{{ ind['name'] }}</td>
                                        <td>{{ ';'.join(ind['column_names']) }}</td>
                                        <td>{{ ind['unique'] }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div id="ind{{ loop.index0 }}" class="panel panel-info collapse">
                        <div class="panel-body">Não Possui Índices</div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock content %}
