{% extends "base-fixed" %}
{% from "macros/form.html" import generate_navigation_database %}
{% block title %}
    Painel de Controle
{% endblock title %}
{% block content %}
    <center>
        {{ generate_navigation_database() }}
    </center>
    <div class="btn-group-vertical" role="group">
        <a href="{{ url_for('database_main.database') }}"
           class="btn btn-success">
            <span class="glyphicon glyphicon-book"></span> Visualizar Banco de Dados
        </a>
        <a href="{{ url_for('database_main.schema') }}" class="btn btn-info">
            <span class="glyphicon glyphicon-level-up"></span> Schema (Experimental)
        </a>
    </div>
{% endblock content %}
