{% extends "database/base_crude" %}
{% block title %}
    Semestres
{% endblock title %}
{% block content_head %}
    {{ generate_head(url_for("semestres.gerenciar_semestres") , acao) }}
{% endblock content_head %}
{% block abertura %}
    <h3>
        Gerenciamento da Tabela <strong>Semestres</strong>
    </h3>
    <p>
        A tabela <code>semestres</code> possui os seguintes campos:
    </p>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="information">
                    <th>Campo</th>
                    <th>Tipo</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <code>id_semestre</code>
                    </td>
                    <td>INT (auto_increment, PK)</td>
                    <td>Identificador único do semestre no sistema.</td>
                </tr>
                <tr>
                    <td>
                        <code>data_inicio</code>
                    </td>
                    <td>DATE</td>
                    <td>Data de início do semestre.</td>
                </tr>
                <tr>
                    <td>
                        <code>data_fim</code>
                    </td>
                    <td>DATE</td>
                    <td>Data de término do semestre.</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock abertura %}
{% block listar %}
    <h3>Lista de Semestres</h3>
    {% if semestres %}
    {% else %}
        <div class="alert alert-info" role="alert">Nenhuma aula cadastrada.</div>
    {% endif %}
{% endblock listar %}
