{% extends "database/base_crude" %}
{% block title %}
    Situações das Reservas
{% endblock title %}
{% block content_head %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ generate_database_head("situacoes_das_reservas") }}</div>
        <div class="panel-body">
            {{ generate_head(url_for("situacoes_das_reservas.gerenciar_situacoes_das_reservas") , acao, disable=disable) }}
        </div>
    </div>
{% endblock content_head %}
{% block abertura %}
    <h3>
        Gerenciamento da Tabela <strong>SITUACOES DAS RESERVAS</strong>
    </h3>
    <p class="text-muted text-center">
        a tabela <code>situacoes_das_reservas</code> possui os seguintes campos
    </p>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="information">
                    <th>Campo</th>
                    <th>Tipo</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <code>id_situacao</code>
                    </td>
                    <td>INT (auto_increment, PK)</td>
                    <td>Indentificador Único da situação da reserva no sistema</td>
                </tr>
                <tr>
                    <td>
                        <code>id_laboratorio</code>
                    </td>
                    <td>INT (FK)</td>
                    <td>
                        Chave Estrangeira para a tabela <code>laboratorios</code>
                    </td>
                </tr>
                <tr>
                    <td>
                        <code>id_aula</code>
                    </td>
                    <td>INT (FK)</td>
                    <td>
                        Chave Estrangeira para a tabela <code>aulas_ativas</code>
                    </td>
                </tr>
                <tr>
                    <td>
                        <code>dia</code>
                    </td>
                    <td>DATE</td>
                    <td>dia referido pela situação</td>
                </tr>
                <tr>
                    <td>
                        <code>situacao_chave</code>
                    </td>
                    <td>ENUM('NAO_PEGOU_A_CHAVE','PEGOU_A_CHAVE','DEVOLVEU_A_CHAVE')</td>
                    <td>situação da chave (não pegou, pegou, devolvida)</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock abertura %}
{% block listar %}
    <h3>Lista de Situacoes</h3>
    {{ result_table("Nenhuma situação cadastrada") }}
{% endblock listar %}
{% block procurar %}
    WIP
{% endblock procurar %}
{% block inserir %}
    <h3>Inserir Situacoes das Reservas</h3>
    <form class="form-group"
          role="form"
          action="{{ url_for('reservas_fixas.gerenciar_reservas_fixas') }}"
          method="post">
        <input type="hidden" name="acao" value="{{ acao }}">
        {{ gerar_select("laboratorios", "Selecione o laboratorio", laboratorios, "id_laboratorio", "nome_laboratorio", "id_situacao_laboratorio") }}
        {{ gerar_select("aulas", "Selecione o horario", aulas_ativas, "id_aula_ativa", "selector_identification", "id_situacao_aula") }}
        <div class="form-group">
            <label for="situacao_dia">Dia da Reserva:</label>
            <input type="date"
                   class="form-control"
                   id="situacao_dia"
                   name="situacao_dia"
                   required>
        </div>
        <div class="form-group">
            <label for="situacao_chave">Situação da Reserva:</label>
            <select class="form-control"
                    id="situacao_chave"
                    name="situacao_chave"
                    required>
                <option value="não pegou a chave">não pegou a chave</option>
                <option value="pegou a chave">pegou a chave</option>
                <option value="devolveu a chave">devolveu a chave</option>
            </select>
        </div>
        {{ action_buttons(acao, 1, False, 0) }}
    </form>
{% endblock inserir %}
{% macro result_table(message) %}
    {% if situacoes_das_reservas %}
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr class="information">
                        <td>Codigo</td>
                        <td>Laboratorio</td>
                        <td>Aula</td>
                        <td>Dia</td>
                        <td>Situacao</td>
                    </tr>
                </thead>
                {% for sdr in situacoes_das_reservas %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endif %}
{% endmacro %}
