{% extends "database/base_crude" %}
{% block title %}
    Aulas
{% endblock title %}
{% block content_head %}
    {{ generate_head(url_for("gerenciar_aulas") , acao) }}
{% endblock content_head %}
{% block abertura %}
    <h3>
        Gerenciamento da Tabela <strong>Aulas</strong>
    </h3>
    <p>
        A tabela <code>aulas</code> possui os seguintes campos:
    </p>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="information">
                    <th>Campo</th>
                    <th>Descrição</th>
                    <th>Valores Possíveis</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <code>id_aula</code>
                    </td>
                    <td>Identificador único da aula no sistema.</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>
                        <code>horario_inicio</code>
                    </td>
                    <td>Horário exato de início da aula.</td>
                    <td>formato HH:MM</td>
                </tr>
                <tr>
                    <td>
                        <code>horario_fim</code>
                    </td>
                    <td>Horário exato de término da aula.</td>
                    <td>formato HH:MM</td>
                </tr>
                <!--
                <tr>
                    <td>
                        <code>semana</code>
                    </td>
                    <td>Dia da semana em que ocorre a aula.</td>
                    <td>
                        <ul class="valores_possiveis_format">
                            <li><code>1</code> = Domingo</li>
                            <li><code>2</code> = Segunda-feira</li>
                            <li><code>3</code> = Terça-feira</li>
                            <li><code>4</code> = Quarta-feira</li>
                            <li><code>5</code> = Quinta-feira</li>
                            <li><code>6</code> = Sexta-feira</li>
                            <li><code>7</code> = Sábado</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <code>turno</code>
                    </td>
                    <td>Turno em que a aula é ministrada.</td>
                    <td>
                        <ul class="valores_possiveis_format">
                            <li><code>0</code> = Manhã</li>
                            <li><code>1</code> = Tarde</li>
                            <li><code>2</code> = Noite</li>
                        </ul>
                    </td>
                </tr>
                -->
            </tbody>
        </table>
    </div>
{% endblock abertura %}
{% block listar %}
    <h3>Lista de Aulas</h3>
    {% if aulas %}
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr class="information">
                        <th>ID Aula</th>
                        <th>Inicio da Aula</th>
                        <th>Termino da Aula</th>
                    </tr>
                </thead>
                <body>
                    {% for a in aulas %}
                        <tr>
                            <td>{{ a.id_aula }}</td>
                            <td>{{ a.horario_inicio }}</td>
                            <td>{{ a.horario_fim }}</td>
                        </tr>
                    {% endfor %}
                </body>
            </table>
            {{ paginacao(pagination, acao, bloco) }}
        </div>
    {% else %}
        <div class="alert alert-info">Nenhuma aula cadastrada.</div>
    {% endif %}
{% endblock listar %}
{% block procurar %}
    {% if bloco == 0 %}
        <h3>Procurar Aulas</h3>
        <form class="form-group"
              role="form"
              action="{{ url_for('gerenciar_aulas') }}"
              method="post">
            <input type="hidden" name="acao" value="{{ acao }}">
            <div class="form-group">
                <label for="codigo">Código:</label>
                <input type="number"
                       class="form-control"
                       name="id_aula"
                       id="codigo"
                       placeholder="Digite o ID">
            </div>
            <h4>Faixa de Horário de Início</h4>
            <div class="form-group">
                <label>De:</label>
                <input type="time"
                       class="form-control"
                       name="horario_inicio_start"
                       placeholder="Início da faixa">
            </div>
            <div class="form-group">
                <label>Até:</label>
                <input type="time"
                       class="form-control"
                       name="horario_inicio_end"
                       placeholder="Fim da faixa">
            </div>
            <h4>Faixa de Horário de Fim</h4>
            <div class="form-group">
                <label>De:</label>
                <input type="time"
                       class="form-control"
                       name="horario_fim_start"
                       placeholder="Início da faixa">
            </div>
            <div class="form-group">
                <label>Até:</label>
                <input type="time"
                       class="form-control"
                       name="horario_fim_end"
                       placeholder="Fim da faixa">
            </div>
            {{ action_buttons(acao, 1, False, 0) }}
        </form>
    {% else %}
        <h3>Resultados da busca:</h3>
        {% if aulas %}
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr class="information">
                            <th>ID Aula</th>
                            <th>Inicio da Aula</th>
                            <th>Termino da Aula</th>
                        </tr>
                    </thead>
                    <body>
                        {% for a in aulas %}
                            <tr>
                                <td>{{ a.id_aula }}</td>
                                <td>{{ a.horario_inicio }}</td>
                                <td>{{ a.horario_fim }}</td>
                            </tr>
                        {% endfor %}
                    </body>
                </table>
                {{ paginacao(pagination, acao, bloco, query_params) }}
            </div>
        {% else %}
            <div class="alert alert-info">Nenhum Resultado encontrado</div>
        {% endif %}
    {% endif %}
{% endblock procurar %}
{% block inserir %}
    {% if bloco == 0 %}
        <h3>inserir Aulas</h3>
        <form class="form-group"
              role="form"
              action="{{ url_for('gerenciar_aulas') }}"
              method="post">
            <input type="hidden" name="acao" value="{{ acao }}">
            <div class="form-group">
                <label>Horario de inicio:</label>
                <input type="time"
                       class="form-control"
                       name="horario_inicio"
                       placeholder="Início da Aula"
                       required>
            </div>
            <div class="form-group">
                <label>Horario de termino:</label>
                <input type="time"
                       class="form-control"
                       name="horario_fim"
                       placeholder="termino da aula"
                       required>
            </div>
            {{ action_buttons(acao, 1, False, 0) }}
        </form>
    {% else %}
    {% endif %}
{% endblock inserir %}
