{% extends "base" %}
{% block title %}
    Página Inicial
{% endblock title %}
{% block content %}
    <div class="btn-group">
        <a href="{{ url_for('default.home') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-home"></span> Início
        </a>
    </div>
    <h3>
        <strong>Reserva Semestral:</strong> Dia {{ day|data }}
    </h3>
    <p>
        Selecione um <strong>semestre</strong> para efetuar o cadastro da <strong>reserva semanal</strong>.
    </p>
    <div class="btn-group-vertical" role="group">
        {% for semestre in semestres %}
            <a href="{{ url_for('reservas_semanais.get_semestre', id_semestre=semestre.id_semestre) }}"
               class="btn btn-{{ semestre.state }}">{{ semestre.nome_semestre }} {{ semestre.icon|e }}</a>
        {% endfor %}
    </div>
{% endblock content %}
{% block footer %}
    <small class="text-muted">
        <strong>Legenda:</strong>
        <span class="label label-default">Semestre expirado</span>
        <span class="label label-primary">Semestre em curso</span>
        <span class="label label-success">Semestre futuro</span>
    </small>
    <hr>
{% endblock footer %}
