{% extends "base" %}
{% from "macros/navigation.html" import go_back %}
{% block title %}
    Semestre
{% endblock title %}
{% block content %}
    <div class="btn-group">
        {{ go_back() }}
        <a href="{{ url_for('default.home') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-home"></span> Início
        </a>
    </div>
    <h3>
        <strong>Reserva Semestral:</strong> Dia {{ day|data }}
        <br>
        <strong>Semestre:</strong> {{ semestre.nome_semestre }}
    </h3>
    <p>
        <strong>Período:</strong> {{ semestre.data_inicio|data }} às {{ semestre.data_fim|data }}
    </p>
    <p>
        Selecione o <strong>turno</strong>
    </p>
    <div class="btn-group-vertical" role="group">
        <a href="{{ url_for('reservas_semanais.get_turno', id_semestre=semestre.id_semestre) }}"
           class="btn btn-info">Não especificado</a>
        {% for turno in turnos %}
            <a href="{{ url_for('reservas_semanais.get_turno', id_semestre=semestre.id_semestre, id_turno=turno.id_turno) }}"
               class="btn btn-primary">{{ turno.nome_turno }} (das {{ turno.horario_inicio|hora }} as {{ turno.horario_fim|hora }})</a>
        {% endfor %}
    </div>
{% endblock content %}
