{% extends "base" %}
{% block title %}
    Semestre
{% endblock title %}
{% block content %}
    <div class="btn-group">
        <a href="{{ url_for('reservas_semanais.main_page') }}"
           class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span> Voltar
        </a>
        <a href="{{ url_for('default.home') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-home"></span> Início
        </a>
    </div>
    <h3>Semestre: {{ semestre.nome_semestre }}</h3>
    <p>Periodo: {{ semestre.data_inicio|data }} a {{ semestre.data_fim|data }}</p>
    <p>Selecione o turno</p>
    <div class="btn-group-vertical" role="group">
        {% for turno in turnos %}
            <a href="{{ url_for('reservas_semanais.get_turno', id_semestre=semestre.id_semestre, id_turno=turno.id_turno) }}"
               class="btn btn-primary">{{ turno.nome_turno }} (das {{ turno.horario_inicio|hora }} as {{ turno.horario_fim|hora }})</a>
        {% endfor %}
    </div>
{% endblock content %}
