{% extends "base" %}
{% from "macros/form.html" import action_buttons %}
{% from "macros/navigation.html" import go_back %}
{% block title %}
    Turno
{% endblock title %}
{% block content %}
    <div class="btn-group">
        {{ go_back() }}
        <a href="{{ url_for('default.home') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-home"></span> Início
        </a>
    </div>
    <h3>
        <strong>Reserva Semestral:</strong> Dia {{ day|data }}
        <br>
        <strong>Semestre:</strong> {{ semestre.nome_semestre }} — <strong>Turno:</strong> {{ turno.nome_turno if turno else 'Livre' }}
    </h3>
    <p>
        <strong>Período:</strong> {{ semestre.data_inicio|data }} a {{ semestre.data_fim|data }}
        {% if turno %}
            <br>
            <strong>Horário:</strong> {{ turno.horario_inicio|hora }} às {{ turno.horario_fim|hora }}
        {% else %}
            <br>
            <strong>Horário:</strong> 00:00 às 23:59
        {% endif %}
        <br>
        <strong>Laboratorios disponiveis:</strong> {{ laboratorios|length }}
    </p>
    <p>
        Selecione o <strong>laboratorio</strong>
    </p>
    <div class="btn-group-vertical" role="group">
        {% set id_turno = turno.id_turno if turno else None %}
        <a href="{{ url_for('reservas_semanais.get_lab', id_semestre=semestre.id_semestre, id_turno=id_turno) }}"
           class="btn btn-info">Não especificado</a>
        {% for lab in laboratorios %}
            <a href="{{ url_for('reservas_semanais.get_lab', id_semestre=semestre.id_semestre, id_turno=id_turno, id_lab=lab.id_laboratorio) }}"
               class="btn btn-primary" title="{{ lab.descrição }}">{{ lab.nome_laboratorio }}</a>
        {% endfor %}
    </div>
{% endblock content %}
