{% extends "base" %}
{% from "macros/form.html" import action_buttons %}
{% block title %}
    Semestre
{% endblock title %}
{% block content %}
    <div class="btn-group">
        <a href="{{ url_for('reservas_semanais.get_semestre', id_semestre=semestre.id_semestre) }}"
           class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span> Voltar
        </a>
        <a href="{{ url_for('default.home') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-home"></span> Início
        </a>
    </div>
    <h3>
        <strong>Reserva Semestral:</strong> Dia {{ day|data }}
        <br>
        <strong>Semestre:</strong> {{ semestre.nome_semestre }} — <strong>Turno:</strong> {{ turno.nome_turno }}
    </h3>
    <p>
        <strong>Período:</strong> {{ semestre.data_inicio|data }} às {{ semestre.data_fim|data }}
        <br>
        <strong>Horário:</strong> {{ turno.horario_inicio|hora }} às {{ turno.horario_fim|hora }}
        <br>
        <strong>Laboratorios disponiveis:</strong> {{ laboratorios|length }}
        <br>
        <strong>Horarios disponiveis:</strong> {{ aulas|length }}
    </p>
    <form class="form-group"
          role="form"
          action="{{ url_for('reservas_semanais.efetuar_reserva', id_semestre=semestre.id_semestre, id_turno=turno.id_turno) }}"
          method="post">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover tabela-reserva">
                <thead>
                    <tr class="information">
                        <th rowspan="2" class="col-fixa">Laboratorios</th>
                        {% for dia, qt in head1.values() %}<td colspan="{{ qt }}">{{ dia }}</td>{% endfor %}
                    </tr>
                    <tr class="information">
                        {% for hora in head2 %}<td>{{ hora }}</td>{% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for laboratorio in laboratorios %}
                        <tr>
                            <td class="col-fixa">{{ laboratorio.nome_laboratorio }}</td>
                            {% for info in aulas %}
                                <td>
                                    <input type="checkbox"
                                           {% if helper[(laboratorio.id_laboratorio, info[0].id_aula_ativa)] %}class="form-check-input checkbox-danger" title="{{ helper[(laboratorio.id_laboratorio, info[0].id_aula_ativa)] }}" disabled{% endif %}
                                           name="reserva[{{ laboratorio.id_laboratorio }},{{ info[0].id_aula_ativa }}]">
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <label for="tipo_reserva">Destinação da Reserva:</label>
            <select id="tipo_reserva" class="form-control" name="tipo_reserva" required>
                <option value="">Selecione o tipo de reserva</option>
                {% for tr in tipo_reserva %}<option value="{{ tr.value }}">{{ tr.value }}</option>{% endfor %}
            </select>
        </div>
        {{ action_buttons('inserir', show_voltar=False, label='') }}
    </form>
    {% if aulas_extras %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Horarios Extras</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr class="information">
                                <th>Dia da Semana</th>
                                <th>Horario</th>
                                <th>Intervalo de validade</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for info in aulas_extras %}
                                <tr>
                                    <td>{{ info[2].nome_semana }}</td>
                                    <td>{{ info[1].horario_inicio|hora }} - {{ info[1].horario_fim|hora }}</td>
                                    <td>{{ info[0].inicio_ativacao|data }} - {{ info[0].fim_ativacao|data }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}
