{% extends "database/table/base_crude" %}
{% macro result_table(message) %}
    {% call(item) table_base(
        equipamentos,
        ['ID','Nome','Descrição', 'Categoria'],
        id_field='id_equipamento',
        vertical_actions=False,
        table_class='tabela-crude',
        message=message,
        pagination=pagination,
        acao=acao,
        bloco=bloco,
        query_params=query_params
        ) %}
        <td>{{ item.id_equipamento }}</td>
        <td>{{ item.nome_equipamento }}</td>
        <td>{{ item.descricao|format }}</td>
        <td>{{ item.categoria.nome_categoria }}</td>
    {% endcall %}
{% endmacro %}
{% block title %}
    Equipamentos
{% endblock title %}
{% block content_head %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ generate_database_head(url|blueprint) }}</div>
        <div class="panel-body">{{ generate_head(url_for(url) , acao, disable=disable) }}</div>
    </div>
{% endblock content_head %}
{% block abertura %}
    <h3>
        Gerenciamento da Tabela <strong>Equipamentos</strong>
    </h3>
    <p>
        A tabela <code>equipamentos</code> possui os seguintes campos:
    </p>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="information">
                    <th>Campo</th>
                    <th>Tipo</th>
                    <th>Descrição</th>
                    <th>Valores Possíveis</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <code>id_equipamento</code>
                    </td>
                    <td>INT (auto_increment, PK)</td>
                    <td>Identificador único do equipamento no sistema.</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>
                        <code>nome_equipamento</code>
                    </td>
                    <td>VARCHAR(120) (NOT NULL, UNIQUE)</td>
                    <td>Nome do equipamento. Deve ser único.</td>
                    <td>Texto livre (máx. 120 caracteres)</td>
                </tr>
                <tr>
                    <td>
                        <code>descricao</code>
                    </td>
                    <td>TEXT</td>
                    <td>Descrição detalhada do equipamento.</td>
                    <td>Texto livre</td>
                </tr>
                <tr>
                    <td>
                        <code>id_categoria</code>
                    </td>
                    <td>INT (NOT NULL, FK)</td>
                    <td>Referência à categoria do equipamento.</td>
                    <td>
                        Valores de <code>id_categoria</code> existentes na tabela
                        <code>categorias_de_equipamentos</code>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock abertura %}
{% block listar %}
    <h3>Lista de equipamentos</h3>
    {{ result_table("Nenhum equipamento cadastrado") }}
{% endblock listar %}
{% block procurar %}
    {% if bloco == 0 %}
        <h3>Procurar equipamentos</h3>
        <form class="form-group"
              role="form"
              action="{{ url_for(url) }}"
              method="post">
            <input type="hidden" name="acao" value="{{ acao }}">
            <div class="form-group">
                <label for="id_equipamento">ID do Equipamento:</label>
                <input type="number"
                       class="form-control"
                       name="id_equipamento"
                       id="id_equipamento"
                       placeholder="Digite o ID do equipamento">
            </div>
            <div class="form-group">
                <label for="nome_equipamento">Nome do Equipamento:</label>
                <input type="text"
                       maxlength="120"
                       class="form-control"
                       name="nome_equipamento"
                       id="nome_equipamento"
                       placeholder="Digite o nome do equipamento">
            </div>
            <div class="form-group">
                <label for="descricao">Descrição:</label>
                <textarea class="form-control"
                          id="descricao"
                          name="descricao"
                          rows="3"
                          placeholder="Digite parte da descrição"></textarea>
            </div>
            {{ gerar_select("id_categoria", "Selecione a categoria", categorias, "id_categoria", "nome_categoria", optional=True) }}
            {{ action_buttons(acao, 1, False, 0) }}
        </form>
    {% else %}
        <h3>Resultado da busca</h3>
        {{ result_table("Nenhum resultado encontrado") }}
    {% endif %}
{% endblock procurar %}
{% block inserir %}
    <h3>Inserir equipamentos</h3>
    <form class="form-group"
          role="form"
          action="{{ url_for(url) }}"
          method="post">
        <input type="hidden" name="acao" value="{{ acao }}">
        <div class="form-group">
            <label for="nome_equipamento">Nome do Equipamento:</label>
            <input type="text"
                   maxlength="120"
                   class="form-control"
                   name="nome_equipamento"
                   id="nome_equipamento"
                   placeholder="Digite o nome do equipamento"
                   required>
        </div>
        <div class="form-group">
            <label for="descricao">Descrição:</label>
            <textarea class="form-control"
                      id="descricao"
                      name="descricao"
                      rows="3"
                      placeholder="Digite a descrição do equipamento"></textarea>
        </div>
        {{ gerar_select("id_categoria", "Selecione a categoria", categorias, "id_categoria", "nome_categoria") }}
        {{ action_buttons(acao, 1, False, 0) }}
    </form>
{% endblock inserir %}
{% block editar %}
    {% if bloco == 0 %}
        <h3>Editando equipamentos</h3>
        <form class="form-group"
              role="form"
              action="{{ url_for(url) }}"
              method="post">
            <input type="hidden" name="acao" value="{{ acao }}">
            {{ gerar_select("id_equipamento", "Selecione o equipamento", equipamentos, "id_equipamento", "nome_equipamento") }}
            {{ action_buttons(acao, 1, False, 0) }}
        </form>
    {% else %}
        <h3>Editar equipamento</h3>
        <form class="form-group"
              role="form"
              action="{{ url_for(url) }}"
              method="post">
            <input type="hidden" name="acao" value="{{ acao }}">
            <!-- ID Equipamento (somente leitura) -->
            <div class="form-group">
                <label for="id_equipamento">ID do Equipamento:</label>
                <input type="text"
                       class="form-control"
                       name="id_equipamento"
                       id="id_equipamento"
                       value="{{ equipamento.id_equipamento }}"
                       readonly>
            </div>
            <!-- Nome Equipamento -->
            <div class="form-group">
                <label for="nome_equipamento">Nome do Equipamento:</label>
                <input type="text"
                       maxlength="120"
                       class="form-control"
                       name="nome_equipamento"
                       id="nome_equipamento"
                       value="{{ equipamento.nome_equipamento }}"
                       placeholder="Digite o nome do equipamento"
                       required>
            </div>
            <!-- Descrição -->
            <div class="form-group">
                <label for="descricao">Descrição:</label>
                <textarea class="form-control"
                          id="descricao"
                          name="descricao"
                          rows="3"
                          placeholder="Digite a descrição do equipamento">{{ equipamento.descricao if equipamento.descricao else '' }}</textarea>
            </div>
            {{ gerar_select("id_categoria", "Selecione a categoria", categorias, "id_categoria", "nome_categoria", selected=equipamento.id_categoria) }}
            {{ action_buttons(acao, 2, True, 0) }}
        </form>
    {% endif %}
{% endblock editar %}
{% block excluir %}
    {% if bloco == 0 %}
        <h3>Excluir equipamentos</h3>
        <form class="form-group"
              role="form"
              action="{{ url_for(url) }}"
              method="post">
            <input type="hidden" name="acao" value="{{ acao }}">
            {{ gerar_select("id_equipamento", "Selecione o equipamento", equipamentos, "id_equipamento", "nome_equipamento") }}
            {{ action_buttons(acao, 1, False, 0) }}
        </form>
    {% else %}
        <form class="form-group"
              role="form"
              action="{{ url_for(url) }}"
              method="post">
            <input type="hidden" name="acao" value="{{ acao }}">
            <!-- ID Equipamento -->
            <div class="form-group">
                <label for="id_equipamento">ID do Equipamento:</label>
                <input type="text"
                       class="form-control"
                       name="id_equipamento"
                       id="id_equipamento"
                       value="{{ equipamento.id_equipamento }}"
                       readonly>
            </div>
            <!-- Nome Equipamento -->
            <div class="form-group">
                <label for="nome_equipamento">Nome do Equipamento:</label>
                <input type="text"
                       class="form-control"
                       id="nome_equipamento"
                       value="{{ equipamento.nome_equipamento }}"
                       disabled>
            </div>
            <!-- Descrição -->
            <div class="form-group">
                <label for="descricao">Descrição:</label>
                <textarea class="form-control" id="descricao" rows="3" disabled>{{ equipamento.descricao if equipamento.descricao else '' }}</textarea>
            </div>
            <!-- Categoria -->
            <div class="form-group">
                <label for="categoria">Categoria:</label>
                <input type="text"
                       class="form-control"
                       id="categoria"
                       value="{{ equipamento.categoria.nome_categoria }}"
                       disabled>
            </div>
            {{ action_buttons(acao, 2, True, 0, False) }}
        </form>
    {% endif %}
{% endblock excluir %}
