{% extends "database/table/base_crude" %}
{% block title %}
    Locais
{% endblock title %}
{% block content_head %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ generate_database_head("database_locais") }}</div>
        <div class="panel-body">{{ generate_head(url_for(url) , acao, disable=disable) }}</div>
    </div>
{% endblock content_head %}
{% block abertura %}
    <h3>
        Gerenciamento da Tabela <strong>Locais</strong>
    </h3>
    <p class="text-muted text-center">
        A tabela <code>locais</code> possui os seguintes campos. Os campos <code>disponibilidade</code> e <code>tipo</code> são implementados como <strong>ENUMs nativos do MySQL</strong>, garantindo restrição de valores válidos no banco de dados:
    </p>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="information">
                    <th>Campo</th>
                    <th>Tipo</th>
                    <th>Descrição</th>
                    <th>Valores Possíveis (ENUM MySQL)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <code>id_local</code>
                    </td>
                    <td>INT (auto_increment, PK)</td>
                    <td>Identificador único do local no sistema.</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>
                        <code>nome_local</code>
                    </td>
                    <td>VARCHAR(100)</td>
                    <td>Nome do local no sistema.</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>
                        <code>descrição</code>
                    </td>
                    <td>TEXT</td>
                    <td>descrição tecnicas dos locais</td>
                </tr>
                <tr>
                    <td>
                        <code>disponibilidade</code>
                    </td>
                    <td>ENUM('DISPONIVEL','INDISPONIVEL')</td>
                    <td>Indica se o local está disponível para uso.</td>
                    <td>
                        <ul class="valores_possiveis_format">
                            <li>
                                <code>Disponivel</code>
                            </li>
                            <li>
                                <code>Indisponivel</code>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <code>tipo</code>
                    </td>
                    <td>ENUM('LABORATORIO','SALA','EXTERNO','AUDITORIO')</td>
                    <td>Categoria do local ou espaço associado.</td>
                    <td>
                        <ul class="valores_possiveis_format">
                            <li>
                                <code>Laboratório</code>
                            </li>
                            <li>
                                <code>Sala</code>
                            </li>
                            <li>
                                <code>Externo</code>
                            </li>
                            <li>
                                <code>Auditorio</code>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock abertura %}
{% block listar %}
    <h3>Lista de Locais</h3>
    {{ result_table("Nenhum local cadastrado.") }}
{% endblock listar %}
{% block procurar %}
    {% if bloco == 0 %}
        <h3>Procurar locais</h3>
        <form class="form-group"
              role="form"
              action="{{ url_for(url) }}"
              method="post">
            <input type="hidden" name="acao" value="{{ acao }}">
            <div class="form-group">
                <label for="codigo">Codigo do local:</label>
                <input type="number"
                       class="form-control"
                       id="codigo"
                       name="id_local"
                       placeholder="Digite o ID">
            </div>
            <div class="form-group">
                <label for="nome">Nome:</label>
                <div class="input-group">
                    <input type="text"
                           maxlength="100"
                           class="form-control"
                           name="nome_local"
                           id="nome"
                           placeholder="Digite o nome">
                    <span class="input-group-addon">
                        <label for="emnome">
                            <input type="checkbox" name="emnome" id="emnome">
                            Exata
                        </label>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="descrição">Descrição:</label>
                <input type="text"
                       class="form-control"
                       id="descrição"
                       name="descrição"
                       placeholder="Digite a descrição">
            </div>
            <div class="form-group">
                <label for="disponibilidade">Disponibilidade:</label>
                <select class="form-control" id="disponibilidade" name="disponibilidade">
                    <option value="">Selecione...</option>
                    <option value="Disponivel">Disponível</option>
                    <option value="Indisponivel">Indisponível</option>
                </select>
            </div>
            <div class="form-group">
                <label for="tipo">Tipo:</label>
                <select class="form-control"
                        id="tipo"
                        name="tipo"
                        aria-describedby="tipo_labHelpBlock">
                    <option value="">Selecione...</option>
                    <option value="Laboratório">Laboratório</option>
                    <option value="Sala">Sala</option>
                    <option value="Externo">Externo</option>
                    <option value="Auditorio">Auditorio</option>
                </select>
                <span id="tipo_labHelpBlock" class="help-block">indica o tipo do local (laboratorio, sala de aula, externo ou auditorio)</span>
            </div>
            {{ action_buttons(acao, 1, False, 0) }}
        </form>
    {% else %}
        <h3>Resultados da busca:</h3>
        {{ result_table("Nenhum Resultado encontrado") }}
    {% endif %}
{% endblock procurar %}
{% block inserir %}
    <h3>Inserir local</h3>
    <form class="form-group"
          role="form"
          action="{{ url_for(url) }}"
          method="post">
        <input type="hidden" name="acao" value="{{ acao }}">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text"
                   maxlength="100"
                   class="form-control"
                   name="nome_local"
                   id="nome"
                   placeholder="Digite o nome"
                   required>
        </div>
        <div class="form-group">
            <label for="descrição">Descrição:</label>
            <input type="text"
                   class="form-control"
                   id="descrição"
                   name="descrição"
                   placeholder="Digite a descrição">
        </div>
        <div class="form-group">
            <label for="disponibilidade">Disponibilidade:</label>
            <select class="form-control"
                    id="disponibilidade"
                    name="disponibilidade"
                    required>
                <option value="">Selecione...</option>
                <option value="Disponivel">Disponível</option>
                <option value="Indisponivel">Indisponível</option>
            </select>
        </div>
        <div class="form-group">
            <label for="tipo">Tipo:</label>
            <select class="form-control" id="tipo" name="tipo" required>
                <option value="">Selecione...</option>
                <option value="Laboratório">Laboratório</option>
                <option value="Sala">Sala</option>
                <option value="Externo">Externo</option>
                <option value="Auditorio">Auditorio</option>
            </select>
        </div>
        {{ action_buttons(acao, 1, False, 0) }}
    </form>
{% endblock inserir %}
{% block editar %}
    {% if bloco == 0 %}
        <h3>Editar locais</h3>
        <form class="form-group"
              role="form"
              action="{{ url_for(url) }}"
              method="post">
            <input type="hidden" name="acao" value="{{ acao }}">
            {{ gerar_select("id_local", "Selecione o local", locais, "id_local", "nome_local") }}
            {{ action_buttons(acao, 1, False, 0) }}
        </form>
    {% else %}
        <h3>Editar local</h3>
        <form class="form-group"
              role="form"
              action="{{ url_for(url) }}"
              method="post">
            <input type="hidden" name="acao" value="{{ acao }}">
            <div class="form-group">
                <label for="codigo">Codigo do local:</label>
                <input type="number"
                       class="form-control"
                       id="codigo"
                       name="id_local"
                       placeholder="Digite o ID"
                       value="{{ local.id_local }}"
                       readonly>
            </div>
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text"
                       maxlength="100"
                       class="form-control"
                       name="nome_local"
                       id="nome"
                       placeholder="Digite o nome"
                       value="{{ local.nome_local }}"
                       required>
            </div>
            <div class="form-group">
                <label for="descrição">Descrição:</label>
                <input type="text"
                       class="form-control"
                       id="descrição"
                       name="descrição"
                       value="{{ local.descrição if local.descrição }}"
                       placeholder="Digite a descrição">
            </div>
            <div class="form-group">
                <label for="disponibilidade">Disponibilidade:</label>
                <select class="form-control"
                        id="disponibilidade"
                        name="disponibilidade"
                        required>
                    <option value="">Selecione...</option>
                    <option value="Disponivel"
                            {% if local.disponibilidade.value == 'Disponivel' %}selected{% endif %}>Disponível</option>
                    <option value="Indisponivel"
                            {% if local.disponibilidade.value == 'Indisponivel' %}selected{% endif %}>
                        Indisponível
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="tipo">Tipo:</label>
                <select class="form-control" id="tipo" name="tipo" required>
                    <option value="">Selecione...</option>
                    <option value="Laboratório"
                            {% if local.tipo.value == 'Laboratório' %}selected{% endif %}>Laboratório</option>
                    <option value="Sala" {% if local.tipo.value == 'Sala' %}selected{% endif %}>Sala</option>
                    <option value="Externo"
                            {% if local.tipo.value == 'Externo' %}selected{% endif %}>Externo</option>
                    <option value="Auditorio"
                            {% if local.tipo.value == 'Auditorio' %}selected{% endif %}>Auditorio</option>
                </select>
            </div>
            {{ action_buttons(acao, 2, True, 0) }}
        </form>
    {% endif %}
{% endblock editar %}
{% block excluir %}
    {% if bloco == 0 %}
        <h3>Excluir local</h3>
        <form class="form-group"
              role="form"
              action="{{ url_for(url) }}"
              method="post">
            <input type="hidden" name="acao" value="{{ acao }}">
            {{ gerar_select("id_local", "Selecione o local", locais, "id_local", "nome_local") }}
            {{ action_buttons(acao, 1, False, 0) }}
        </form>
    {% else %}
        <h3>Excluir local</h3>
        <form class="form-group"
              role="form"
              action="{{ url_for(url) }}"
              method="post">
            <input type="hidden" name="acao" value="{{ acao }}">
            <div class="form-group">
                <label for="codigo">Codigo do local:</label>
                <input type="number"
                       class="form-control"
                       id="codigo"
                       name="id_local"
                       placeholder="Digite o ID"
                       value="{{ local.id_local }}"
                       readonly>
            </div>
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text"
                       maxlength="100"
                       class="form-control"
                       name="nome_local"
                       id="nome"
                       placeholder="Digite o nome"
                       value="{{ local.nome_local }}"
                       disabled
                       required>
            </div>
            <div class="form-group">
                <label for="descrição">Descrição:</label>
                <input type="text"
                       class="form-control"
                       id="descrição"
                       name="descrição"
                       value="{{ local.descrição if local.descrição }}"
                       placeholder="Digite a descrição"
                       disabled>
            </div>
            <div class="form-group">
                <label for="disponibilidade">Disponibilidade:</label>
                <select class="form-control"
                        id="disponibilidade"
                        name="disponibilidade"
                        disabled
                        required>
                    <option value="">Selecione...</option>
                    <option value="Disponivel"
                            {% if local.disponibilidade.value == 'Disponivel' %}selected{% endif %}>Disponível</option>
                    <option value="Indisponivel"
                            {% if local.disponibilidade.value == 'Indisponivel' %}selected{% endif %}>
                        Indisponível
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="tipo">Tipo:</label>
                <select class="form-control" id="tipo" name="tipo" disabled required>
                    <option value="">Selecione...</option>
                    <option value="Laboratório"
                            {% if local.tipo.value == 'Laboratório' %}selected{% endif %}>Laboratório</option>
                    <option value="Sala" {% if local.tipo.value == 'Sala' %}selected{% endif %}>Sala</option>
                    <option value="Externo"
                            {% if local.tipo.value == 'Externo' %}selected{% endif %}>Externo</option>
                    <option value="Auditorio"
                            {% if local.tipo.value == 'Auditorio' %}selected{% endif %}>Auditorio</option>
                </select>
            </div>
            {{ action_buttons(acao, 2, True, 0, False) }}
        </form>
    {% endif %}
{% endblock excluir %}
{% macro result_table(message) %}
    {% if locais %}
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover tabela-crude">
                <thead class="information">
                    <th>ID do local</th>
                    <th>Nome do local</th>
                    <th>Descrição</th>
                    <th>Disponibilidade</th>
                    <th>Tipo de local</th>
                    <th>ação</th>
                </thead>
                <tbody>
                    {% for l in locais %}
                        <tr>
                            <td>{{ l.id_local }}</td>
                            <td>{{ l.nome_local }}</td>
                            <td>{{ l.descrição|format }}</td>
                            <td>{{ l.disponibilidade.value }}</td>
                            <td>{{ l.tipo.value }}</td>
                            <td>
                                <form method="post" class="form-inline">
                                    <input type="hidden" name="bloco" value="1">
                                    <input type="hidden" name="id_local" value="{{ l.id_local }}">
                                    <div class="btn-group-vertical">
                                        <button type="submit"
                                                name="acao"
                                                value="editar"
                                                class="btn btn-warning btn-sm"
                                                title="Editar">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </button>
                                        <button type="submit"
                                                name="acao"
                                                value="excluir"
                                                class="btn btn-danger btn-sm"
                                                title="Excluir">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if query_params %}
            {{ paginacao(pagination, acao, bloco, query_params) }}
        {% else %}
            {{ paginacao(pagination, acao, bloco) }}
        {% endif %}
    {% else %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endif %}
{% endmacro %}
