{% extends "database/table/base_crude" %}
{% block title %}
    Usuarios Especiais
{% endblock title %}
{% block content_head %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ generate_database_head("database_usuarios_especiais") }}</div>
        <div class="panel-body">
            {{ generate_head(url_for(url) , acao, disable=disable) }}
        </div>
    </div>
{% endblock content_head %}
{% block abertura %}
    <h3>
        Gerenciamento da Tabela <strong>Usuarios Especiais</strong>
    </h3>
    <p class="text-muted text-center">
        A tabela <code>usuarios_especiais</code> possui os seguintes campos:
    </p>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="information">
                    <th>Campo</th>
                    <th>Tipo</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                {% for campo, tipo, descricao in [
                    ('id_usuario_especial', 'INT (auto_increment, PK)', 'Identificador do usuario especial'),
                    ('nome_usuario_especial', 'VARCHAR(100)', 'Nome do usuario especial')
                    ] %}
                    <tr>
                        <td>
                            <code>{{ campo }}</code>
                        </td>
                        <td>{{ tipo }}</td>
                        <td>{{ descricao }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock abertura %}
{% block listar %}
    <h3>Lista de Usuarios Especiais</h3>
    {{ result_table("Nenhum usuario especial encontrado") }}
{% endblock listar %}
{% block procurar %}
    {% if bloco == 0 %}
        <h3>Procurar por Usuarios Especiais</h3>
        <form class="form-group"
              role="form"
              action="{{ url_for(url) }}"
              method="post">
            <input type="hidden" name="acao" value="{{ acao }}">
            <div class="form-group">
                <label for="codigo">Codigo:</label>
                <input type="number"
                       class="form-control"
                       name="id_usuario_especial"
                       id="codigo"
                       placeholder="Digite o id">
            </div>
            <div class="form-group">
                <label for="nome">Nome:</label>
                <div class="input-group">
                    <input type="text"
                           maxlength="100"
                           class="form-control"
                           name="nome_usuario_especial"
                           id="nome"
                           placeholder="Digite o nome">
                    <span class="input-group-addon">
                        <label for="emnome">
                            <input type="checkbox" name="emnome" id="emnome">
                            Exata
                        </label>
                    </span>
                </div>
            </div>
            {{ action_buttons(acao, 1, False, 0) }}
        </form>
    {% elif bloco == 1 %}
        <h3>Lista de Usuarios Especiais</h3>
        {{ result_table("Nenhum resultado encontrado") }}
    {% endif %}
{% endblock procurar %}
{% block inserir %}
    <h3>Inserir Usuarios Especiais</h3>
    <form class="form-group"
          role="form"
          action="{{ url_for(url) }}"
          method="post">
        <input type="hidden" name="acao" value="{{ acao }}">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text"
                   maxlength="100"
                   class="form-control"
                   name="nome_usuario_especial"
                   id="nome"
                   placeholder="Digite o nome"
                   required>
        </div>
        {{ action_buttons(acao, 1, False, 0) }}
    </form>
{% endblock inserir %}
{% block editar %}
    {% if bloco == 0 %}
        <h3>Editar Usuarios Especiais</h3>
        <form class="form-group"
              role="form"
              action="{{ url_for(url) }}"
              method="post">
            <input type="hidden" name="acao" value="{{ acao }}">
            {{ gerar_select("id_usuario_especial", "Selecione o usuario especial", usuarios_especiais, "id_usuario_especial", "nome_usuario_especial") }}
            {{ action_buttons(acao, 1, False, 0) }}
        </form>
    {% elif bloco == 1 %}
        <h3>Editar Usuario Especial</h3>
        <form class="form-group"
              role="form"
              action="{{ url_for(url) }}"
              method="post">
            <input type="hidden" name="acao" value="{{ acao }}">
            <div class="form-group">
                <label for="id_usuario">ID Usuario:</label>
                <input type="number"
                       maxlength="100"
                       class="form-control"
                       name="id_usuario_especial"
                       id="id_usuario"
                       value="{{ usuario_especial.id_usuario_especial }}"
                       readonly
                       required>
            </div>
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text"
                       maxlength="100"
                       class="form-control"
                       name="nome_usuario_especial"
                       id="nome"
                       placeholder="Digite o nome"
                       value="{{ usuario_especial.nome_usuario_especial }}"
                       required>
            </div>
            {{ action_buttons(acao, 2, True, 0) }}
        </form>
    {% endif %}
{% endblock editar %}
{% block excluir %}
    {% if bloco == 0 %}
        <h3>Excluir Usuarios Especiais</h3>
        <form class="form-group"
              role="form"
              action="{{ url_for(url) }}"
              method="post">
            <input type="hidden" name="acao" value="{{ acao }}">
            {{ gerar_select("id_usuario_especial", "Selecione o usuario especial", usuarios_especiais, "id_usuario_especial", "nome_usuario_especial") }}
            {{ action_buttons(acao, 1, False, 0) }}
        </form>
    {% elif bloco == 1 %}
        <h3>Excluir Usuario Especial</h3>
        <form class="form-group"
              role="form"
              action="{{ url_for(url) }}"
              method="post">
            <input type="hidden" name="acao" value="{{ acao }}">
            <div class="form-group">
                <label for="id_usuario">ID Usuario:</label>
                <input type="number"
                       maxlength="100"
                       class="form-control"
                       name="id_usuario_especial"
                       id="id_usuario"
                       value="{{ usuario_especial.id_usuario_especial }}"
                       readonly
                       required>
            </div>
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text"
                       maxlength="100"
                       class="form-control"
                       name="nome_usuario_especial"
                       id="nome"
                       placeholder="Digite o nome"
                       value="{{ usuario_especial.nome_usuario_especial }}"
                       required
                       disabled>
            </div>
            {{ action_buttons(acao, 2, True, 0, False) }}
        </form>
    {% endif %}
{% endblock excluir %}
{% macro result_table(message) %}
    {% if usuarios_especiais %}
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr class="information">
                        <th>Id Usuario Especial</th>
                        <th>Nome Usuario Especial</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ue in usuarios_especiais %}
                        <tr>
                            <td>{{ ue.id_usuario_especial }}</td>
                            <td>{{ ue.nome_usuario_especial }}</td>
                            <td>
                                <form method="post" class="form-inline">
                                    <input type="hidden" name="bloco" value="1">
                                    <input type="hidden"
                                           name="id_usuario_especial"
                                           value="{{ ue.id_usuario_especial }}">
                                    <div class="btn-group">
                                        <button type="submit"
                                                name="acao"
                                                value="editar"
                                                class="btn btn-warning btn-sm"
                                                title="Editar">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </button>
                                        <button type="submit"
                                                name="acao"
                                                value="excluir"
                                                class="btn btn-danger btn-sm"
                                                title="Excluir">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if query_params %}
            {{ paginacao(pagination, acao, bloco, query_params) }}
        {% else %}
            {{ paginacao(pagination, acao, bloco) }}
        {% endif %}
    {% else %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endif %}
{% endmacro %}
