{% extends "base-fixed" %}
{% block title %}
    Status das Reservas Fixas
{% endblock title %}
{% block content %}
    {{ generate_situacao_head("fixa") }}
    <h3>Hoje: {{ hoje|data }}</h3>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <form method="get"
                      class="form-inline"
                      action="{{ url_for('situacao_reserva.gerenciar_situacoes', tipo_reserva='fixa') }}">
                    <div class="form-group">
                        <label for="reserva-dia">dia:</label>
                        <input type="date"
                               class="form-control"
                               value="{{ reserva_dia }}"
                               id="reserva-dia"
                               name="reserva-dia"
                               onchange="if (this.checkValidity()) this.form.submit();"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="reserva_turno">Turno:</label>
                        <select class="form-control"
                                id="reserva_turno"
                                name="reserva_turno"
                                onchange="if (this.checkValidity()) this.form.submit();">
                            <option value="">Selecionar o turno</option>
                            {% for turno in turnos %}
                                <option value="{{ turno.id_turno }}"
                                        {% if turno.id_turno == reserva_turno %}selected{% endif %}>
                                    {{ turno.nome_turno }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="reserva_turno">Destino:</label>
                        <select class="form-control"
                                id="reserva_tipo_horario"
                                name="reserva_tipo_horario"
                                onchange="if (this.checkValidity()) this.form.submit();"
                                required>
                            {% for aula in tipo_aula %}
                                <option value="{{ aula.value }}"
                                        {% if aula.value == reserva_tipo_horario %}selected{% endif %}>
                                    {{ aula.value }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </h3>
        </div>
        <div class="panel-body">
            {% if reservas %}
            {% else %}
                <div class="alert alert-danger" role="alert">Nenhuma reserva encontrada nesse dia/turno/horario</div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
{% block footer %}
    <div class="legend">
        {% for icon, style, label in icons %}
            <span class="label label-{{ style }}">
                <span class="glyphicon {{ icon }}"></span> {{ label }}
            </span>
        {% endfor %}
    </div>
{% endblock footer %}
