<div id="modalGerenciar"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="modalGerenciarLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modalGerenciarLabel">
                    <span class="glyphicon glyphicon-cog"></span> Gerenciar Período
                </h4>
                <button id="btnTrocarContexto" class="btn btn-xs btn-warning pull-right">
                    <span class="glyphicon glyphicon-edit"></span> Selecionar manualmente
                </button>
            </div>
            <div class="modal-body">
                <!-- Header de contexto -->
                <div class="well well-sm text-center" id="contextoGerenciar">
                    <strong>Aula:</strong> <span id="ctxAula">-</span> |
                    <strong>Semana:</strong> <span id="ctxSemana">-</span> |
                    <strong>Tipo:</strong> <span id="ctxTipo">-</span> |
                    <strong>Status:</strong> <span id="ctxStatus" class="label label-default">-</span>
                </div>
                <!-- Informativo de períodos relacionados -->
                <div id="infoGerenciarPeriodos" class="alert alert-info info-gerenciar hide">
                    <div class="periodos-wrapper">
                        <div class="periodo anterior">
                            <strong>Anterior:</strong>
                            <div class="periodo-detalhe">—</div>
                        </div>
                        <div class="periodo atual">
                            <strong>Atual:</strong>
                            <div class="periodo-detalhe">—</div>
                        </div>
                        <div class="periodo proximo">
                            <strong>Próxima:</strong>
                            <div class="periodo-detalhe">—</div>
                        </div>
                    </div>
                </div>
                <!-- Abas -->
                <ul class="nav nav-tabs" role="tablist" id="abasGerenciar">
                    <li role="presentation" class="aba-ativar active disabled">
                        <a href="#tabAtivar" role="tab">Ativar permanentemente</a>
                    </li>
                    <li role="presentation" class="aba-ativar-temp disabled">
                        <a href="#tabAtivarTemp" role="tab">Ativar temporariamente</a>
                    </li>
                    <li role="presentation" class="aba-desativar disabled">
                        <a href="#tabDesativar" role="tab">Desativar</a>
                    </li>
                    <li role="presentation" class="aba-extender disabled">
                        <a href="#tabExtender" role="tab">Gerenciar Período</a>
                    </li>
                </ul>
                <!-- Conteúdo das abas -->
                <div class="tab-content">
                    <!-- Aba: Ativar Permanentemente -->
                    <div role="tabpanel" class="tab-pane fade" id="tabAtivar">
                        <form id="formAtivarPerm"
                              class="form-horizontal margin-top-10"
                              autocomplete="off">
                            <div class="form-group">
                                <label for="dataInicioPerm" class="col-sm-3 control-label">Data de Início</label>
                                <div class="col-sm-9">
                                    <input type="date"
                                           class="form-control"
                                           id="dataInicioPerm"
                                           name="inicio"
                                           required>
                                </div>
                            </div>
                            <hr>
                            <div class="text-right">
                                <button type="submit" class="btn btn-success">
                                    <span class="glyphicon glyphicon-ok"></span> Ativar Período
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- Aba: Ativar Temporariamente -->
                    <div class="tab-pane fade" id="tabAtivarTemp">
                        <form id="formAtivarTemp"
                              class="form-horizontal margin-top-10"
                              autocomplete="off">
                            <div class="form-group">
                                <label for="dataInicio" class="col-sm-3 control-label">Data de Início</label>
                                <div class="col-sm-9">
                                    <input type="date"
                                           class="form-control"
                                           id="dataInicio"
                                           name="inicio"
                                           required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="dataFim" class="col-sm-3 control-label">Data de Fim</label>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control" id="dataFim" name="fim" required>
                                </div>
                            </div>
                            <hr>
                            <div class="text-right">
                                <button type="submit" class="btn btn-success">
                                    <span class="glyphicon glyphicon-ok"></span> Ativar Período
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- Aba: Desativar -->
                    <div role="tabpanel" class="tab-pane fade" id="tabDesativar">
                        <form id="formDesativar"
                              class="form-horizontal margin-top-10"
                              autocomplete="off">
                            <div class="alert alert-warning">
                                <strong>Atenção:</strong>
                                Se o <strong>período de desativação</strong> não for especificado, a desativação ocorrerá <u>imediatamente</u>.
                                <br>
                                Além disso, se o <strong>período total de ativação</strong> for inferior a <strong>1 dia</strong>, ele será
                                <u>automaticamente removido do sistema</u>.
                            </div>
                            <div class="form-group">
                                <label for="dataDesativar" class="col-sm-3 control-label">Data de Desativação</label>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control" id="dataDesativar" name="desativar">
                                </div>
                            </div>
                            <hr>
                            <div class="text-right">
                                <button type="submit" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-ok"></span> Desativar Período
                                </button>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tabExtender">
                        <form id="formExtender"
                              class="form-horizontal margin-top-10"
                              autocomplete="off">
                            <!-- inicio ativacao (se especificado, caso contrario assume se indefinido) -->
                            <div class="form-group">
                                <label for="dataInicioExt" class="col-sm-3 control-label">Data de Início</label>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control" id="dataInicioExt" name="inicio">
                                </div>
                            </div>
                            <!-- fim ativacao (se especificado, caso contrario assume se indefinido) -->
                            <div class="form-group">
                                <label for="dataFimExt" class="col-sm-3 control-label">Data de Fim</label>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control" id="dataFimExt" name="fim">
                                </div>
                            </div>
                            <hr>
                            <div class="text-right">
                                <button type="submit" class="btn btn-warning">
                                    <span class="glyphicon glyphicon-ok"></span> Atualizar Período
                                </button>
                            </div>
                            <hr>
                            <div class="alert alert-info">
                                <strong>Atenção</strong> - deixar os campos em branco fara com que o período seja indefinido (sem data de início ou fim), prossiga com cautela.
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <div class="pull-left">
                        <form id="formSelecionarContexto" class="form-inline">
                            <div class="form-group">
                                <label for="selectAula">Horário:</label>
                                <select id="selectAula" class="form-control">
                                    {% for h in horarios_base %}
                                        <option value="{{ h.id_aula }}">{{ h.horario_inicio|hora }} - {{ h.horario_fim|hora }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="selectSemana">Semana:</label>
                                <select id="selectSemana" class="form-control">
                                    {% for s in dias_da_semana %}<option value="{{ s.id_semana }}">{{ s.nome_semana }}</option>{% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="selectTipo">Tipo:</label>
                                <select id="selectTipo" class="form-control">
                                    <option value="Aula">Aula</option>
                                    <option value="Evento">Evento</option>
                                    <option value="Outros">Outros</option>
                                </select>
                            </div>
                            <button type="button" class="btn btn-success btn-sm" id="btnAplicarContexto">Aplicar</button>
                        </form>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
                <!-- Alerta global do modal -->
                <div id="alertGlobalModal" class="alert text-center margin-top-10"></div>
            </div>
        </div>
    </div>
</div>
