{% extends "base-fixed" %}
{% block title %}
    Painel de Controle
{% endblock title %}
{% block content %}
    <div class="container text-center">
        <h2>Painel de Administração</h2>
        <p>Escolha uma seção para gerenciar:</p>
        <div class="panel panel-primary">
            <div class="panel-body">
                <a href="{{ url_for('default.home') }}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-home"></span> Página Inicial
                </a>
            </div>
        </div>
        <!-- database -->
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Banco de Dados</h3>
            </div>
            <div class="panel-body">
                <!-- painel de controle -->
                <div class="btn-group" role="group">
                    <button class="btn btn-danger"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseDatabase"
                            aria-expanded="false"
                            aria-controls="collapseDatabase">
                        <span class="glyphicon glyphicon-cog"></span> Manipular Banco de Dados
                    </button>
                    <a href="{{ url_for('setup.fast_setup_menu') }}" class="btn btn-warning">
                        <span class="glyphicon glyphicon-flash"></span> Setup Rapido
                    </a>
                    <a href="{{ url_for('database_main.menu') }}" class="btn btn-info">
                        <span class="glyphicon glyphicon-book"></span> Visualizar Banco de Dados
                    </a>
                    <a href="{{ url_for('admin.control_times') }}" class="btn btn-warning">
                        <span class="glyphicon glyphicon-time"></span> Horarios
                    </a>
                </div>
                <!-- Área colapsável principal -->
                <div class="collapse" id="collapseDatabase">
                    <div class="well">
                        {% for grupo, grupo_metadate in secoes.items() %}
                            <button class="btn btn-secondary btn-block text-left mb-2"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#collapse{{ loop.index }}"
                                    aria-expanded="false"
                                    aria-controls="collapse{{ loop.index }}">
                                <span class="{{ grupo_metadate.icon }}"></span> <strong>{{ grupo }}</strong>
                            </button>
                            <div class="collapse mb-3" id="collapse{{ loop.index }}">
                                {% for secao, url, color, meta in grupo_metadate.secoes %}
                                    <a href="{{ url_for(url) }}"
                                       class="btn btn-{{ color }} btn-block text-capitalize">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                        {{ secao }}
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                        {% if 'c' in meta %}<span class="glyphicon glyphicon-plus" title="Criar"></span>{% endif %}
                                        {% if 'r' in meta %}<span class="glyphicon glyphicon-book" title="Listar"></span>{% endif %}
                                        {% if 'u' in meta %}<span class="glyphicon glyphicon-edit" title="Editar"></span>{% endif %}
                                        {% if 'd' in meta %}<span class="glyphicon glyphicon-trash" title="Excluir"></span>{% endif %}
                                        {% if 'e' in meta %}<span class="glyphicon glyphicon-download" title="Exportar"></span>{% endif %}
                                    </a>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Gerenciar Reservas e Relacionados</h3>
            </div>
            <div class="panel panel-body">
                <div class="well">
                    <div class="btn-group" role="group">
                        <a href="{{ url_for('gestao_reserva.gerenciar_situacoes', tipo_reserva='fixa') }}"
                           class="btn btn-success">
                            <span class="glyphicon glyphicon-cog"></span> Status e Exibição das Reservas
                        </a>
                        <a href="{{ url_for('admin.configurar_tela_televisor') }}"
                           class="btn btn-warning">
                            <span class="glyphicon glyphicon-wrench"></span> Configuração Painel
                        </a>
                        <a href="{{ url_for('admin.configuracao_geral') }}"
                           class="btn btn-warning">
                            <span class="glyphicon glyphicon-pushpin"></span>
                            Configuração gerais
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">SSH e relacionados</h3>
            </div>
            <div class="panel panel-body">
                <div class="well">
                    {% if key %}
                        <span class="badge badge_fernet_key"
                              data-toggle="tooltip"
                              data-placement="top"
                              data-html="true"
                              title="📂 Arquivo: {{ key_info.path }}<br>🕒 Última modificação: {{ key_info.last_modified }}">
                            🔒 Chave Configurada
                        </span>
                    {% else %}
                        <a href="{{ url_for('admin_remote.gerar_chave') }}"
                           class="btn btn-danger"
                           onclick="return confirm('Tem certeza que deseja gerar a chave de criptografia? Essa ação não pode ser desfeita.');">
                            🔑 Gerar Chave
                        </a>
                    {% endif %}
                    <a href="{{ url_for('admin_remote.manage_ssh') }}"
                       class="btn btn-warning">Credenciais de SSH</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extra_script %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock extra_script %}
