{% extends "base-fixed" %}
{% from "macros/form.html" import action_buttons %}
{% block title %}
    Configuração
{% endblock title %}
{% block content %}
    <form class="form-group"
          action="{{ url_for('admin.configuracao_geral') }}"
          role="form"
          method="post">
        <div class="form-group">
            <label for="modo_gerenciacao">Modo de Visualizacao:</label>
            <select class="form-control"
                    id="modo_gerenciacao"
                    name="modo_gerenciacao"
                    required>
                <option value="">Selecione o Modo</option>
                <option value="unico"
                        {% if config_cfg.get('modo_gerenciacao') == 'unico' %}selected{% endif %}>
                    Reservas Separadas
                </option>
                <option value="multiplo"
                        {% if config_cfg.get('modo_gerenciacao') == 'multiplo' %}selected{% endif %}>
                    Reservas Compativeis Unidas
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="toleranca">Tolerança:</label>
            <input class="form-control"
                   id="toleranca"
                   name="toleranca"
                   value="{{ config_cfg.get('toleranca') }}"
                   required>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input"
                   type="checkbox"
                   id="login"
                   name="login"
                   value="1"
                   {% if config_cfg.get('login') %}checked{% endif %}>
            <label class="form-check-label" for="login">Mostrar botão de login na home</label>
        </div>
        {{ action_buttons('montar', show_voltar=False, label='') }}
    </form>
{% endblock content %}
