{% extends "base-fixed" %}
{% block title %}
    Controle de Horários
{% endblock title %}
{% block content %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Horários (referentes ao dia {{ hoje|data }})</h3>
        </div>
        <div class="panel-body">
            <!-- Header row -->
            <div class="row schedule-header">
                <div class="col-xs-3">Turno</div>
                <div class="col-xs-2">Horários</div>
                {% for semana in dias_da_semana %}<div class="col-xs-1 text-center">{{ semana.nome_semana }}</div>{% endfor %}
            </div>
            <!-- Body rows -->
            {% for horario in horarios_base %}
                <div class="row schedule-row">
                    <!-- Turno column -->
                    <div class="col-xs-3 turno-cell" data-time="{{ horario.id_aula }}">
                        <span class="badge turno-badge">???</span>
                    </div>
                    <!-- Horário column -->
                    <div class="col-xs-2 horario-cell">
                        <span class="glyphicon glyphicon-time"></span>
                        {{ horario.horario_inicio|hora }} às {{ horario.horario_fim|hora }}
                    </div>
                    <!-- Days columns -->
                    {% for semana in dias_da_semana %}
                        <div class="col-xs-1 day-cell text-center"
                             data-day="{{ hoje }}"
                             data-time="{{ horario.id_aula }}"
                             data-day-of-week="{{ semana.id_semana }}">
                            <span class="badge state-badge">???</span>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
{% block extra_script %}
<script>
$(document).ready(function() {
    $(".turno-cell").each(function() {
        const cell = $(this);
        const horarioId = cell.data("time"); // pega o data-time individual

        $.getJSON(`{{ url_for('admin.api_get_turno') }}?horario_id=${horarioId}`, function(response) {
            cell.find(".turno-badge").text(response.turno);
            if (response.id == 1)
                cell.find(".turno-badge").addClass("badge-dia");
            else if (response.id == 2)
                cell.find(".turno-badge").addClass("badge-tarde");
            else if (response.id == 3)
                cell.find(".turno-badge").addClass("badge-noite");
        }).fail(function() {
            cell.find(".turno-badge").text("erro");
        });
    });
});
</script>
{% endblock extra_script %}
{% block extra_css %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/times.css') }}">
{% endblock extra_css %}
