{% extends "base" %}

{% block title %}Painel de Controle{% endblock %}

{% set secoes = {
    'usuarios':'url1',
    'usuarios especiais':'url2',
    'aulas':'url3',
    'laboratorios':'url4',
    'reservas fixa':'url5',
    'permissoes':'url6'
} %}

{% block content %}
<div class="container mt-4">

    <!-- Botão para voltar -->
    <div class="mb-3">
        <a href="{{ url_for('home') }}" class="btn btn-secondary">Voltar à página de início</a>
    </div>

    <!-- Botão colapsável -->
    <div class="mb-3">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseDatabase" aria-expanded="false" aria-controls="collapseDatabase">
            Manipulação do Banco de Dados
        </button>
    </div>

    <!-- Área que colapsa -->
    <div class="collapse" id="collapseDatabase">
        {% for secao, url in secoes.items() %}
            <div class="card card-body">
                <div class="d-grid gap-2">
                    <a dhref="url_for({{url}})" class="btn btn-outline-primary btn-lg text-capitalize">
                        {{ secao }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

</div>
{% endblock %}