{% extends "base" %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<div class="form-group">
{% if username %}
    <h1>Bem-vindo ao Sistema! {{ username }}</h1>
    <a href="{{ url_for('logout') }}" class="btn btn-primary">Sair de {{ username }}</a>
{% else %}
    <h1>Bem-vindo ao Sistema!</h1>
    <a href="{{ url_for('login') }}" class="btn btn-primary">Ir para Login</a>
{% endif %}
</div>
{% if role and role == 'admin' %}
<div class="form-group">
    <a href="{{ url_for('gerenciar_menu') }}" class="btn btn-primary">Gerenciar o sistema (banco de dados)</a>
</div>
{% endif %}
{% endblock %}