{% extends "base-fixed" %}
{% block title %}
    Auditorios
{% endblock title %}
{% block content %}
    <div class="btn-group">
        <a href="{{ url_for('default.home') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-home"></span> Início
        </a>
    </div>
    <p>
        <strong>Dia:</strong> {{ dia|datainfo(DATA_NUMERICA+HORA+SEMANA_COMPLETA) }}
    </p>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Reservas de Auditorio</h3>
            <form method="get"
                  class="form-inline"
                  action="{{ url_for('reservas_auditorios.main_page') }}">
                <div class="form-group">
                    <label for="reserva-dia">dia:</label>
                    <input type="date"
                           class="form-control"
                           value="{{ reserva_dia }}"
                           id="reserva-dia"
                           name="reserva-dia"
                           onchange="if (this.checkValidity()) this.form.submit();">
                </div>
            </form>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        {% if auditorios|length > 1 %}<th>Auditorio</th>{% endif %}
                        <th>Dia</th>
                        <th>Horario</th>
                        <th>Responsavel</th>
                        <th>Status</th>
                        <th>Autorizador</th>
                        <th>Ações</th>
                        <th>Notas & Detalhes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reserva in reservas_auditorios %}
                        <tr>
                            {% if auditorios|length > 1 %}<td>{{ reserva.local.nome_local }}</td>{% endif %}
                            <td>{{ reserva.dia_reserva|data }}</td>
                            <td>{{ reserva.aula_ativa.aula.horario_inicio|hora }} - {{ reserva.aula_ativa.aula.horario_fim|hora }}</td>
                            <td>{{ reserva.responsavel.nome_pessoa }}</td>
                            <td>
                                <span class="badge_status {{ reserva.status_reserva.value }}">{{ reserva.status_reserva.value }}</span>
                            </td>
                            <td>{{ reserva.autorizador.nome_pessoa if reserva.autorizador else '-' }}</td>
                            <td>
                                <form class="form-inline"
                                      role="form"
                                      action="{{ url_for('reservas_auditorios.atualizar_status', id_reserva=reserva.id_reserva_auditorio) }}"
                                      method="post">
                                    {% if reserva.status_reserva.value == 'Aguardando' and (reserva.id_responsavel == user.id_pessoa or user.perm|has_flag(ADMIN)) %}
                                        <button type="submit" class="btn-icon" name="status" value="Cancelada">
                                            <span class="glyphicon glyphicon-remove icon-auditorio"
                                                  aria-hidden="true"
                                                  data-toggle="tooltip"
                                                  title="Cancelar"></span>
                                        </button>
                                    {% elif reserva.status_reserva.value == 'Cancelada' and (reserva.id_responsavel == user.id_pessoa or user.perm|has_flag(ADMIN)) %}
                                        <button type="submit" class="btn-icon" name="status" value="Aguardando">
                                            <span class="glyphicon glyphicon-ok icon-auditorio"
                                                  aria-hidden="true"
                                                  data-toggle="tooltip"
                                                  title="Reabrir"></span>
                                        </button>
                                    {% endif %}
                                    {% if user.perm|has_flag(ADMIN) and reserva.status_reserva.value in ['Aguardando', 'Aprovada', 'Reprovada'] %}
                                        {% if reserva.status_reserva.value != 'Reprovada' %}
                                            <button type="submit" class="btn-icon" name="status" value="Reprovada">
                                                <span class="glyphicon glyphicon-thumbs-down icon-auditorio"
                                                      aria-hidden="true"
                                                      data-toggle="tooltip"
                                                      title="Reprovar"></span>
                                            </button>
                                        {% endif %}
                                        {% if reserva.status_reserva.value != 'Aprovada' %}
                                            <button type="submit" class="btn-icon" name="status" value="Aprovada">
                                                <span class="glyphicon glyphicon-thumbs-up icon-auditorio"
                                                      aria-hidden="true"
                                                      data-toggle="tooltip"
                                                      title="Aprovar"></span>
                                            </button>
                                        {% endif %}
                                    {% endif %}
                                </form>
                            </td>
                            <td>
                                <span class="icon-stack"
                                      data-toggle="tooltip"
                                      title="Observação do responsável">
                                    <span class="glyphicon glyphicon-comment base-icon"></span>
                                    <span class="glyphicon glyphicon-user icon-contrast icon-user text-success"></span>
                                </span>
                                <span class="icon-stack"
                                      data-toggle="tooltip"
                                      title="Observação do autorizador">
                                    <span class="glyphicon glyphicon-comment base-icon"></span>
                                    <span class="glyphicon glyphicon-user icon-contrast icon-user text-danger"></span>
                                    <span class="glyphicon glyphicon-fire icon-contrast icon-fire text-danger"></span>
                                </span>
                                <span class="glyphicon glyphicon-eye-open text-info"
                                      data-toggle="tooltip"
                                      title="Ver detalhes"></span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
{% block extra_script %}
    <script>
        $(function () {
        $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock extra_script %}
