{% extends "base-fixed" %}
{% block title %}
    400 - Requisição inválida
{% endblock title %}
{% block content %}
    <div class="alert alert-warning" role="alert">
        <h3>400 - Requisição inválida</h3>
        {% if message %}
            <p>{{ message }}</p>
        {% else %}
            <p>Verifique os dados enviados e tente novamente.</p>
        {% endif %}
    </div>
    <div class="btn-group">
        <a href="{{ url_for('default.home') }}" class="btn btn-info"><span class="glyphicon glyphicon-home"></span> Voltar à página de início</a>
    </div>
{% endblock content %}