$margins: 0, 5, 8, 10, 15, 20, 25;

@each $size in $margins {
    $val: $size * 1px;

    .margin-left-#{$size}  { margin-left:  $val; }
    .margin-right-#{$size} { margin-right: $val; }
    .margin-top-#{$size}   { margin-top:   $val; }
    .margin-bottom-#{$size}{ margin-bottom:$val; }
}