$sizes: (
  0:  0px,
  5:  5px,
  8:  8px,
  10: 10px,
  15: 15px,
  20: 20px,
  25: 25px,
);

@each $name, $value in $sizes {
  .margin-left-#{$name}  { margin-left:   $value; }
  .margin-right-#{$name} { margin-right:  $value; }
  .margin-top-#{$name}   { margin-top:    $value; }
  .margin-bottom-#{$name}{ margin-bottom: $value; }
}