$sizes: 0 5 8 10 15 20 25;

@each $size in $sizes {
  .margin-left-#{$size}  { margin-left:   $size * 1px; }
  .margin-right-#{$size} { margin-right:  $size * 1px; }
  .margin-top-#{$size}   { margin-top:    $size * 1px; }
  .margin-bottom-#{$size}{ margin-bottom: $size * 1px; }
}