{% extends "base-fixed" %}
{% block title %}
    Admin • Meta
{% endblock title %}
{% block content %}
    <div class="container">
        <h3>Painel do Sistema</h3>
        <div class="panel panel-default">
            <div class="panel-heading">Status do Git</div>
            <table class="table table-bordered">
                <tr>
                    <th>Commit local</th>
                    <td>{{ status.local_commit }}</td>
                </tr>
                <tr>
                    <th>Commit remoto</th>
                    <td>{{ status.remote_commit }}</td>
                </tr>
                <tr>
                    <th>Commits pendentes</th>
                    <td>
                        {% if status.behind == 0 %}
                            <span class="label label-success">Atualizado</span>
                        {% else %}
                            <span class="label label-warning">{{ status.behind }} pendentes</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Alterações locais</th>
                    <td>
                        {% if status.local_changes %}
                            <span class="label label-danger">Sim</span>
                        {% else %}
                            <span class="label label-success">Não</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Branch</th>
                    <td>{{ status.branch }}</td>
                </tr>
                <tr>
                    <th>Último fetch</th>
                    <td>
                        {% if status.last_fetch %}
                            {{ status.last_fetch.strftime("%d/%m/%Y %H:%M:%S") }}
                        {% else %}
                            desconhecido
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Commits locais não enviados</th>
                    <td>
                        {% if status.ahead == 0 %}
                            <span class="label label-success">Nenhum</span>
                        {% else %}
                            <span class="label label-info">{{ status.ahead }}</span>
                        {% endif %}
                    </td>
                </tr>
            </table>
            <div class="panel panel-default">
                <div class="panel-heading">Último Commit</div>
                <table class="table table-bordered">
                    {% if status.last_commit %}
                        <tr>
                            <th>Hash</th>
                            <td>{{ status.last_commit.hash }}</td>
                        </tr>
                        <tr>
                            <th>Autor</th>
                            <td>{{ status.last_commit.author }}</td>
                        </tr>
                        <tr>
                            <th>Data</th>
                            <td>{{ status.last_commit.date }}</td>
                        </tr>
                        <tr>
                            <th>Mensagem</th>
                            <td>{{ status.last_commit.message }}</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Ações</div>
            <div class="panel-body">
                <button class="btn btn-primary git-action"
                        data-url="{{ url_for('admin_meta.fetch') }}">
                    <span class="glyphicon glyphicon-download"></span>
                    Atualizar informações (fetch)
                </button>
                {% if status.local_changes %}
                    <div class="alert alert-danger">Existem alterações locais no repositório. O update foi bloqueado.</div>
                {% elif status.behind > 0 %}
                    <button class="btn btn-success git-action"
                            data-url="{{ url_for('admin_meta.update') }}">
                        <span class="glyphicon glyphicon-refresh"></span>
                        Atualizar sistema
                    </button>
                {% else %}
                    <div class="alert alert-success">Sistema já está atualizado.</div>
                {% endif %}
                <a href="{{ url_for('admin_meta.branches') }}" class="btn btn-info">
                    <span class="glyphicon glyphicon-random"></span>
                    Branches
                </a>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extra_script %}
    <script>

        document.querySelectorAll(".git-action").forEach(btn => {

            btn.addEventListener("click", function(){

                const url = this.dataset.url

                this.disabled = true
                this.innerHTML = "Executando..."

                fetch(url)
                .then(r => r.text())
                .then(() => {

                    location.reload()

                })
                .catch(() => {

                    alert("Erro ao executar ação")
                    location.reload()

                })

            })

        })

    </script>
{% endblock extra_script %}
