{% extends "base-fixed" %}
{% block title %}
    atalhos
{% endblock title %}
{% block content %}
    {% if user.perm and user.perm|has_flag(ADMIN) %}
        <div class="panel panel-info">
            <div class="panel-heading" role="tab" id="headingAtalhos">
                <h4 class="panel-title">
                    <a role="button"
                       data-toggle="collapse"
                       href="#collapseAtalhos"
                       aria-expanded="false"
                       aria-controls="collapseAtalhos"
                       class="collapsed">Atalhos reservas semanais/avulsas</a>
                </h4>
            </div>
            <div id="collapseAtalhos"
                 class="panel-collapse collapse"
                 role="tabpanel"
                 aria-labelledby="headingAtalhos">
                <div class="panel-body">
                    <ul class="list-unstyled margin-bottom-0">
                        <li>
                            <strong>Clicar</strong> na célula com reserva → exibir informações
                        </li>
                        <li>
                            <strong>Clicar + ALT</strong> na célula com reserva → excluir reserva
                        </li>
                        <li>
                            <strong>Clicar + CTRL</strong> na célula <span class="label label-warning">amarela</span> → ver reservas semanais naquele dia
                        </li>
                        <li>
                            <strong>Esc</strong> Fecha modais abertos
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading" role="tab" id="headingTimes">
                <h4 class="panel-title">
                    <a role="button"
                       data-toggle="collapse"
                       href="#collapseTimes"
                       aria-expanded="false"
                       aria-controls="collapseTimes"
                       class="collapsed">Atalhos times</a>
                </h4>
            </div>
            <div id="collapseTimes"
                 class="panel-collapse collapse"
                 role="tabpanel"
                 aria-labelledby="headingTimes">
                <div class="panel-body">
                    <ul class="list-unstyled margin-bottom-0">
                        <li>
                            <strong>Clicar</strong> no período → editar período
                        </li>
                        <li>
                            <strong>Clicar + Shift</strong> no período → ver historicos
                        </li>
                        <li>
                            <strong>Esc</strong> Fecha modais abertos
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}
